/*! Powered by DiscordSelectors v0.2.7 */
.appMount-3lHmkl {
	@extend %appMount !optional;
}
.platform-win {
	@extend %platformWin !optional;
}
.platform-osx {
	@extend %platformOSX !optional;
}
.platform-linux {
	@extend %platformLinux !optional;
}
.platform-web {
	@extend %platformWeb !optional;
}
.theme-dark {
	@extend %themeDark !optional;
}
.theme-light {
	@extend %themeLight !optional;
}
.fakeLink-26oLcc {
	@extend %fakeLink !optional;
}
.app-19_DXt {
	@extend %app !optional;
}
.app-2rEoOp {
	@extend %shakeable !optional;
}
.bg-h5JY_x {
	@extend %bg !optional;
}
.layers-3iHuyZ {
	@extend %layers !optional;
}
.layer-3QrUeG {
	@extend %layer !optional;
}
.animating-rRxada {
	@extend %layerAnimating !optional;
}
.stop-animations {
	@extend %layerStopAnimations !optional;
}
.container-2lgZY8 {
	@extend %containerMain !optional;
}
.base-3dtUhz {
	@extend %base !optional;
}
.backdrop-1wrmKB {
	@extend %backdrop !optional;
}
.notice-2FJMB4 {
	@extend %notice !optional;
}
.noticeDefault-362Ko2 {
	@extend %noticeDefault !optional;
}
.noticePremium-12Zvj9 {
	@extend %noticePremium !optional;
}
.noticePremiumGrandfathered-ollUxF {
	@extend %noticePremiumGrandfathered !optional;
}
.noticeInfo-3_iTE1 {
	@extend %noticeInfo !optional;
}
.noticeSuccess-3Y62ob {
	@extend %noticeSuccess !optional;
}
.noticeDanger-7u-yT9 {
	@extend %noticeDanger !optional;
}
.noticeStreamerMode-2TSQpg {
	@extend %noticeStreamerMode !optional;
}
.noticeFacebook-3equ5g {
	@extend %noticeFacebook !optional;
}
.noticeSpotify-27dhr0 {
	@extend %noticeSpotify !optional;
}
.noticeBrand-3nQBC_ {
	@extend %noticeBrand !optional;
}
.noticeSurvey-1XW9Ln {
	@extend %noticeSurvey !optional;
}
.dismiss-SCAH9H {
	@extend %noticeDismiss !optional;
}
.button-1MICoQ {
	@extend %noticeButton !optional;
}
.icon-KgjVwm {
	@extend %noticeIcon !optional;
}
.iconWindows-1KG_XN {
	@extend %noticeIconWindows !optional;
}
.iconApple-1hp9Sq {
	@extend %noticeIconApple !optional;
}
.iconAndroid-3HTSwF {
	@extend %noticeIconAndroid !optional;
}
.platformIcon-2NdO9F {
	@extend %noticePlatformIcon !optional;
}
.titleBar-AC4pGV {
	@extend %titlebar !optional;
}
.unfocused-1QsMU3 {
	@extend %titlebarUnfocused !optional;
}
.typeWindows-1za-n7 {
	@extend %titlebarWin !optional;
}
.wordmark-2iDDfm {
	@extend %titlebarWordmark !optional;
}
.winButton-iRh8-Z {
	@extend %titlebarWinButton !optional;
}
.winButtonMinMax-PBQ2gm {
	@extend %titlebarWinButtonMinMax !optional;
}
.winButtonClose-1HsbF- {
	@extend %titlebarWinButtonClose !optional;
}
.typeMacOS-3EmCyP {
	@extend %titlebarMac !optional;
}
.typeMacOSWithFrame-3R_i5S {
	@extend %titlebarMacWithFrame !optional;
}
.macButtons-2MuSAC {
	@extend %titlebarMacButtons !optional;
}
.macButton-c_Adir {
	@extend %titlebarMacButton !optional;
}
.macButtonClose-MwZ2nf {
	@extend %titlebarMacButtonClose !optional;
}
.macButtonMaximize-2FMHAO {
	@extend %titlebarMacButtonMaximize !optional;
}
.macButtonMinimize-3EJ6wo {
	@extend %titlebarMacButtonMinimize !optional;
}
#bda-qem {
	@extend %bdEmoteMenu !optional;
}
#bda-qem-twitch {
	@extend %bdEmoteMenuTwitch !optional;
}
#bda-qem-favourite {
	@extend %bdEmoteMenuFavourite !optional;
}
#bda-qem-emojis {
	@extend %bdEmoteMenuEmojis !optional;
}
#bda-qem-twitch.active, #bda-qem-favourite.active, #bda-qem-emojis.active {
	@extend %bdEmoteMenuActive !optional;
}
#bda-qem-twitch-container {
	@extend %bdEmoteMenuTwitchContainer !optional;
}
#bda-qem-favourite-container {
	@extend %bdEmoteMenuFavouriteContainer !optional;
}
.emote-menu-inner {
	@extend %bdEmoteMenuInner !optional;
}
.emote-container {
	@extend %bdEmoteContainer !optional;
}
.emote-icon {
	@extend %bdEmoteIcon !optional;
}
#bd-settings-sidebar {
	@extend %bdSettingsSidebar !optional;
}
.ui-tab-bar-header {
	@extend %bdSettingsSidebarHeader !optional;
}
.ui-tab-bar-item {
	@extend %bdSettingsSidebarItem !optional;
}
.ui-tab-bar-item.selected {
	@extend %bdSettingsSidebarItemSelected !optional;
}
.ui-tab-bar-separator {
	@extend %bdSettingsSidebarSeparator !optional;
}
.containerDefault-3tr_sE {
	@extend %categoryContainerDefault !optional;
}
.containerUserOver-98-yc7 {
	@extend %categoryContainerUserOver !optional;
}
.containerDragBefore-1YqewQ {
	@extend %categoryContainerDragBefore !optional;
}
.containerDragAfter-Zk9oyx {
	@extend %categoryContainerDragAfter !optional;
}
.containerDragBefore-1YqewQ, .containerDragAfter-Zk9oyx {
	@extend %categoryContainerDrag !optional;
}
.containerDefault-3tr_sE, .containerDragAfter-Zk9oyx, .containerDragBefore-1YqewQ, .containerUserOver-98-yc7 {
	@extend %categoryContainer !optional;
}
.wrapper-PY0fhH {
	@extend %categoryWrapper !optional;
}
.clickable-536fPF {
	@extend %categoryWrapperClickable !optional;
}
.collapsed-2-tg8y {
	@extend %categoryWrapperCollapsed !optional;
}
.muted-2JBAyG {
	@extend %categoryWrapperMuted !optional;
}
.mainContent-2h-GEV {
	@extend %categoryMain !optional;
}
.icon-2yIBmh {
	@extend %categoryIcon !optional;
}
.name-3l27Hl {
	@extend %categoryName !optional;
}
.children-L002ao {
	@extend %categoryButtons !optional;
}
.addButtonIcon-2CbG1X {
	@extend %categoryAddIcon !optional;
}
.containerDefault--pIXnN {
	@extend %channelContainerDefault !optional;
}
.containerDragBefore-3iTCc7 {
	@extend %channelContainerDragBefore !optional;
}
.containerDragAfter-3Fp7LC {
	@extend %channelContainerDragAfter !optional;
}
.containerUserOver-2mv1jO {
	@extend %channelContainerUserOver !optional;
}
.containerDragBefore-3iTCc7, .containerDragAfter-3Fp7LC {
	@extend %channelContainerDrag !optional;
}
.containerDefault--pIXnN, .containerDragAfter-3Fp7LC, .containerDragBefore-3iTCc7, .containerUserOver-2mv1jO {
	@extend %channelContainer !optional;
}
.wrapper-2jXpOf {
	@extend %channelWrapper !optional;
}
.modeUnread-1qO3K1 {
	@extend %channelWrapperUnread !optional;
}
.modeSelected-346R90 {
	@extend %channelWrapperSelected !optional;
}
.modeConnected-3IsKId {
	@extend %channelWrapperConnected !optional;
}
.modeMuted-onO3r- {
	@extend %channelWrapperMuted !optional;
}
.content-1x5b-n {
	@extend %channelContent !optional;
}
.mainContent-u_9PKf {
	@extend %channelMain !optional;
}
.icon-1DeIlz {
	@extend %channelIcon !optional;
}
.name-23GUGE {
	@extend %channelName !optional;
}
.children-Bmpf2Q {
	@extend %channelButtons !optional;
}
.iconItem-1-bXkn {
	@extend %channelButton !optional;
}
.actionIcon-PgcMM2 {
	@extend %channelActionIcon !optional;
}
.unread-2lAfLh {
	@extend %channelUnreadPill !optional;
}
.mentionsBadge-7f5lud {
	@extend %channelBadge !optional;
}
.userLimit-64AFxe {
	@extend %channelUserLimit !optional;
}
.wrapper-pZmgj4 {
	@extend %channelUserLimitWrapper !optional;
}
.users-3kndPl {
	@extend %channelUserLimitUsers !optional;
}
.total-i6us2n {
	@extend %channelUserLimitTotal !optional;
}
.listDefault-3ir5aS {
	@extend %voiceUserList !optional;
}
.draggable-2E_4tJ {
	@extend %voiceUserDraggable !optional;
}
.voiceUser-1K6Xox {
	@extend %voiceUser !optional;
}
.selected-3TGCSZ {
	@extend %voiceUserSelected !optional;
}
.content-3xS9Lh {
	@extend %voiceUserContent !optional;
}
.avatarContainer-28iYmV {
	@extend %voiceUserAvatar !optional;
}
.avatarSpeaking-2IGMRN {
	@extend %voiceUserAvatarSpeaking !optional;
}
.username-3KYl0N {
	@extend %voiceUserName !optional;
}
.usernameSpeaking-RmltQx {
	@extend %voiceUserNameSpeaking !optional;
}
.icons-3q-_6z {
	@extend %voiceUserIcons !optional;
}
.iconSpacing-3LzVxF {
	@extend %voiceUserIconSpacing !optional;
}
.icon-3BcwQu {
	@extend %voiceUserIcon !optional;
}
.container-23E4rK {
	@extend %userSummaryContainer !optional;
}
.icon-1tDorc {
	@extend %userSummaryIcon !optional;
}
.avatarContainer-3CQrif {
	@extend %userSummaryAvatarContainer !optional;
}
.avatarContainerMasked-PIJ-3L {
	@extend %userSummaryAvatarContainerMasked !optional;
}
.avatar-3bWpYy {
	@extend %userSummaryAvatar !optional;
}
.clickableAvatar-1wQpeh {
	@extend %userSummaryAvatarClickable !optional;
}
.emptyUser-7txhlW {
	@extend %userSummaryEmptyUser !optional;
}
.moreUsers-7v8yWY {
	@extend %userSummaryMoreUsers !optional;
}
.channelNotices-41mJbj {
	@extend %channelNotices !optional;
}
.channelNotice-1-XFjC {
	@extend %channelNotice !optional;
}
.quickswitcher-35bYg4 {
	@extend %channelNoticeQuickswitcher !optional;
}
.invite-OjTXrW {
	@extend %channelNoticeInvite !optional;
}
.guildMFAWarning-3GEzs8 {
	@extend %channelNoticeGuildMFAWarning !optional;
}
.close-relY5R {
	@extend %channelNoticeClose !optional;
}
.message-3SOT5P {
	@extend %channelNoticeMessage !optional;
}
.btn-11C5_u {
	@extend %channelNoticeMessageButton !optional;
}
.sidebar-2K8pFh {
	@extend %channelsSidebar !optional;
}
.container-3w7J-x {
	@extend %channelsContainer !optional;
}
.container-2Rl01u {
	@extend %channelsHeaderContainer !optional;
}
.hasDropdown-2invhV {
	@extend %channelsHasDropDown !optional;
}
.header-2o-2hj {
	@extend %channelsHeader !optional;
}
.name-3YKhmS {
	@extend %channelsHeaderName !optional;
}
.button-1w5pas {
	@extend %channelsHeaderButton !optional;
}
.guildIconContainer-2FW_iA {
	@extend %channelsHeaderGuildBadge !optional;
}
.icon-1ihkOt {
	@extend %channelsHeaderGuildBadgeIcon !optional;
}
.partnered-3nJayh {
	@extend %guildPartnered !optional;
}
.verified-1eC5dy {
	@extend %guildVerified !optional;
}
.premiumGuildIconGem-DAxGL7 {
	@extend %guildBoostedIcon !optional;
}
.iconTierOne-s_oiRb {
	@extend %guildBoostedIconTier1 !optional;
}
.iconTierTwo-1JOWNK {
	@extend %guildBoostedIconTier2 !optional;
}
.iconTierThree-3EAOB7 {
	@extend %guildBoostedIconTier3 !optional;
}
.withBanner-3j8ruM {
	@extend %guildBoostedIconWithBanner !optional;
}
.animatedContainer-1NSq4T {
	@extend %bannerAnimatedContainer !optional;
}
.banner-1TiK82 {
	@extend %banner !optional;
}
.bannerImage-3KhIJ6 {
	@extend %bannerImage !optional;
}
.unread-1xRYoj {
	@extend %channelsUnreadIndicator !optional;
}
.mention-1f5kbO {
	@extend %channelsMentionIndicator !optional;
}
.panels-j1Uci_ {
	@extend %panels !optional;
}
.button-14-BFJ {
	@extend %panelButton !optional;
}
.enabled-2cQ-u7 {
	@extend %panelButtonEnabled !optional;
}
.disabled-2iW-fm {
	@extend %panelButtonDisabled !optional;
}
.container-3baos1 {
	@extend %accountPanel !optional;
}
.avatarWrapper-2yR4wp {
	@extend %accountPanelAvatarWrapper !optional;
}
.avatar-SmRMf2 {
	@extend %accountPanelAvatar !optional;
}
.nameTag-3uD-yy {
	@extend %accountPanelNameTag !optional;
}
.usernameContainer-1fp4nu {
	@extend %accountPanelUsernameContainer !optional;
}
.username-2BIRiC {
	@extend %accountPanelUsername !optional;
}
.discriminator-3-Lf_x {
	@extend %accountPanelDiscriminator !optional;
}
.container-1giJp5 {
	@extend %connectionPanel !optional;
}
.inner-tyMogq {
	@extend %connectionPanelInner !optional;
}
.rtcConnectionStatus-2-jIsi {
	@extend %rtcConnectionStatus !optional;
}
.rtcConnectionStatusConnected-VRZDjy {
	@extend %rtcConnectionStatusConnected !optional;
}
.rtcConnectionStatusConnecting-3322Pa {
	@extend %rtcConnectionStatusConnecting !optional;
}
.rtcConnectionStatusError-2hLzrL {
	@extend %rtcConnectionStatusError !optional;
}
.rtcConnectionQualityFine-2J6i8z {
	@extend %rtcConnectionQualityFine !optional;
}
.rtcConnectionQualityAverage-3KV0u- {
	@extend %rtcConnectionQualityAverage !optional;
}
.rtcConnectionQualityBad-1J7mUU {
	@extend %rtcConnectionQualityBad !optional;
}
.ping-2NgC8E {
	@extend %rtcConnectionPing !optional;
}
.description-1MbtwQ {
	@extend %connectionPanelDescription !optional;
}
.channel-1TmDQ6 {
	@extend %connectionPanelChannel !optional;
}
.activityPanel-28dQGo {
	@extend %activityPanel !optional;
}
.body-GmmuPm {
	@extend %activityPanelBody !optional;
}
.gameWrapper-1jIQAX {
	@extend %activityPanelGameWrapper !optional;
}
.clickableGameWrapper-2fpjdx {
	@extend %activityPanelGameWrapperClickable !optional;
}
.gameIcon-gg34Dz {
	@extend %activityPanelGameIcon !optional;
}
.gameName-13va7o {
	@extend %activityPanelGameName !optional;
}
.actions-aUdUfC {
	@extend %activityPanelActions !optional;
}
.privateChannels-1nO12o {
	@extend %privateChannels !optional;
}
.scroller-1JbKMe {
	@extend %privateChannelsScroller !optional;
}
.channel-2QD9_O {
	@extend %privateChannel !optional;
}
.linkButtonIcon-Mlm5d6 {
	@extend %privateChannelIcon !optional;
}
.privateChannelsHeaderContainer-3NB1K1 {
	@extend %privateChannelsHeader !optional;
}
.headerText-2F0828 {
	@extend %privateChannelsHeaderText !optional;
}
.privateChannelRecipientsInviteButtonIcon-3A3uTc {
	@extend %privateChannelsInviteButton !optional;
}
.searchBar-6Kv8R2 {
	@extend %privateChannelsSearchBar !optional;
}
.searchBarComponent-32dTOx {
	@extend %privateChannelsSearchBarComponent !optional;
}
.inner-3ErfOT {
	@extend %privateChannelsSearchBarInner !optional;
}
.input-1Rv96N {
	@extend %privateChannelsSearchBarInput !optional;
}
.newMessagesBar-265mhP {
	@extend %newMessagesBar !optional;
}
.jumpToPresentBar-G1R9s6 {
	@extend %jumpToPresentBar !optional;
}
.hasMore-3e72_v {
	@extend %hasMore !optional;
}
.wrapper-29NfPK {
	@extend %privateCall !optional;
}
.minimum-2d6zH6 {
	@extend %privateCallMinimum !optional;
}
.normal-2GSW0u {
	@extend %privateCallNormal !optional;
}
.noChat-2qlG4B {
	@extend %privateCallNoChat !optional;
}
.video-1FfuMD {
	@extend %privateCallVideo !optional;
}
.actions-2vadYq {
	@extend %privateCallActions !optional;
}
.center-1Vp33r {
	@extend %privateCallActionsCenter !optional;
}
.side-kO0bwV {
	@extend %privateCallActionsSide !optional;
}
.chat-3bRxxu {
	@extend %chat !optional;
}
.content-yTz4x3 {
	@extend %chatContentWrapper !optional;
}
.chatContent-a9vAAp {
	@extend %chatContent !optional;
}
.base-34jWEe {
	@extend %chatBase !optional;
}
.gatedContent-3-B7qB {
	@extend %chatGatedContent !optional;
}
.image-2LqJex {
	@extend %chatGatedImage !optional;
}
.title-1VcOOr {
	@extend %chatGatedTitle !optional;
}
.description-2ydcYn {
	@extend %chatGatedDescription !optional;
}
.separator-2IZ9ro {
	@extend %chatGatedSeparator !optional;
}
.action-yrVND8 {
	@extend %chatGatedAction !optional;
}
.actionRed-gYn8D3 {
	@extend %chatGatedActionRed !optional;
}
.noChannel-Z1DQK7 {
	@extend %noChannel !optional;
}
.image-1GzsFd {
	@extend %noChannelImage !optional;
}
.title-2BxgL2 {
	@extend %noChannelTitle !optional;
}
.text-GwUZgS {
	@extend %noChannelText !optional;
}
.divider-3gKybi {
	@extend %divider !optional;
}
.isUnread-3Ef-o9  {
	@extend %dividerUnread !optional;
}
.unreadPill-2HyYtt {
	@extend %unreadPill !optional;
}
.unreadPillCapStroke-7rkHbg {
	@extend %unreadPillCapStroke !optional;
}
.content-1o0f9g {
	@extend %dividerDate !optional;
}
.container-3ISnnM {
	@extend %gifPicker !optional;
}
.header-1TOWci {
	@extend %gifPickerHeader !optional;
}
.searchBar--fTZYa {
	@extend %gifPickerSearchBar !optional;
}
.inner-2P4tQO {
	@extend %gifPickerSearchBarInner !optional;
}
.input-3Xdcic {
	@extend %gifPickerSearchInput !optional;
}
.iconLayout-3OgqU3 {
	@extend %gifPickerSearchIconLayout !optional;
}
.iconContainer-2wXvy1 {
	@extend %gifPickerSearchIconContainer !optional;
}
.icon-1S6UIr {
	@extend %gifPickerSearchIcon !optional;
}
.visible-3bFCH- {
	@extend %gifPickerSearchIconVisible !optional;
}
.clear--Eywng {
	@extend %gifPickerSearchIconClear !optional;
}
.backButton-JyKGC1 {
	@extend %gifPickerSearchBackButton !optional;
}
.searchHeader-2r8VVk {
	@extend %gifPickerSearchHeader !optional;
}
.content-ySCtCx {
	@extend %gifPickerContent !optional;
}
.container-2jxBbw {
	@extend %gifPickerContainer !optional;
}
.categoryFade-2ybR1J {
	@extend %gifPickerCategoryFade !optional;
}
.categoryFadeBlurple-1j72_A {
	@extend %gifPickerCategoryFadeBlurple !optional;
}
.categoryText-2-8pri {
	@extend %gifPickerCategoryText !optional;
}
.categoryIcon-21RREB {
	@extend %gifPickerCategoryIcon !optional;
}
.categoryName-UvMsNp {
	@extend %gifPickerCategoryName !optional;
}
.results-3i9FaE {
	@extend %gifPickerResults !optional;
}
.result-3w1ZcL {
	@extend %gifPickerResult !optional;
}
.focused-1En8bG {
	@extend %gifPickerResultFocused !optional;
}
.favButton-_fxLew {
	@extend %gifPickerFavButton !optional;
}
.icon-3wcw1B {
	@extend %gifPickerFavButtonIcon !optional;
}
.gif-1TcNIB {
	@extend %gifPickerGif !optional;
}
.emptyHints-1EYR-5 {
	@extend %gifPickerEmptyHints !optional;
}
.placeholder-1kJjXI {
	@extend %gifPickerPlaceholder !optional;
}
.emptyHint-2ZHXNQ {
	@extend %gifPickerEmptyHint !optional;
}
.emptyHintCard-2mUdMe {
	@extend %gifPickerEmptyHintCard !optional;
}
.emptyHintFavorite-3Bf6b2 {
	@extend %gifPickerEmptyHintFavorite !optional;
}
.emptyHintText-1QDF9N {
	@extend %gifPickerEmptyHintText !optional;
}
.endContainer-1ZDW8j {
	@extend %gifPickerEndContainer !optional;
}
.form-2fGMdU {
	@extend %chatForm !optional;
}
.channelTextArea-2VhZ6z {
	@extend %channelTextArea !optional;
}
.scrollableContainer-2NUZem {
	@extend %channelTextAreaScrollable !optional;
}
.inner-MADQqc {
	@extend %channelTextAreaInner !optional;
}
.attachWrapper-2TRKBi {
	@extend %channelTextAreaAttachWrapper !optional;
}
.attachButton-2WznTc {
	@extend %channelTextAreaAttachButton !optional;
}
.attachButtonInner-PQjIyk {
	@extend %channelTextAreaAttachButtonInner !optional;
}
.attachButtonPlus-jWVFah {
	@extend %channelTextAreaAttachButtonPlus !optional;
}
.textArea-12jD-V {
	@extend %textArea !optional;
}
.placeholder-37qJjk {
	@extend %textAreaPlaceholder !optional;
}
.slateTextArea-1Mkdgw {
	@extend %slateTextArea !optional;
}
.buttons-3JBrkn {
	@extend %channelTextAreaButtons !optional;
}
.button-3AYNKb {
	@extend %channelTextAreaButton !optional;
}
.emojiButton-3uL3Aw {
	@extend %channelTextAreaEmojiButton !optional;
}
.typing-2GQL18 {
	@extend %channelTextAreaTyping !optional;
}
.text-1y-e8- {
	@extend %channelTextAreaTypingText !optional;
}
.operations-36ENbA {
	@extend %operations !optional;
}
.wrapper-39oAo3 {
	@extend %channelInfo !optional;
}
.content-c_0cLD {
	@extend %channelInfoContent !optional;
}
.image-3XsqGc {
	@extend %channelInfoImage !optional;
}
.buttonContainer-3AU1Ij {
	@extend %channelInfoButtonContainer !optional;
}
.autocomplete-1vrmpx {
	@extend %autocomplete !optional;
}
.autocompleteInner-zh20B_ {
	@extend %autocompleteInner !optional;
}
.contentTitle-2tG_sM {
	@extend %autocompleteTitle !optional;
}
.content-Qb0rXO {
	@extend %autocompleteContent !optional;
}
.icon-3ZzoN7 {
	@extend %autocompleteIcon !optional;
}
.iconForeground-1w5n7R {
	@extend %autocompleteIconForeground !optional;
}
.description-11DmNu {
	@extend %autocompleteDescription !optional;
}
.descriptionUsername-J_75O8 {
	@extend %autocompleteDescriptionUsername !optional;
}
.descriptionDiscriminator-3vUOCc {
	@extend%autocompleteDescriptionDiscriminator !optional;
}
.selector-2IcQBU {
	@extend %autocompleteSelector !optional;
}
.selected-1Tbx07 {
	@extend %autocompleteSelectorSelected !optional;
}
.content-Qb0rXO {
	@extend %autocompleteSelectorContent !optional;
}
.welcomeMessage-3_Mcht {
	@extend %welcomeMessage !optional;
}
.h1-1IDj26 {
	@extend %welcomeMessageH1 !optional;
}
.itemContainer-WiE19S {
	@extend %welcomeMessageItemContainer !optional;
}
.icon-2shpbb {
	@extend %welcomeMessageIcon !optional;
}
.exclamation-1mi7Vi {
	@extend %welcomeMessageIconExclamation !optional;
}
.share-1EA-d2 {
	@extend %welcomeMessageIconShare !optional;
}
.mobile-3_KEmF {
	@extend %welcomeMessageIconMobile !optional;
}
.twitter-1TN3uJ {
	@extend %welcomeMessageIconTwitter !optional;
}
.base-34jWEe {
	@extend %welcomeMessageBase !optional;
}
.wrapper-232cHJ {
	@extend %badge !optional;
}
.numberBadge-2s8kKX {
	@extend %numberBadge !optional;
}
.textBadge-1iylP6 {
	@extend %textBadge !optional;
}
.button-38aScr {
	@extend %button !optional;
}
.hasHover-3X1-zV {
	@extend %buttonHasHover !optional;
}
.lookFilled-1Gx00P {
	@extend %buttonFilled !optional;
}
.lookOutlined-3sRXeN {
	@extend %buttonOutlined !optional;
}
.lookInverted-2D7oAl {
	@extend %buttonInverted !optional;
}
.lookLink-9FtZy- {
	@extend %buttonLink !optional;
}
.colorBrand-3pXr91 {
	@extend %buttonBrand !optional;
}
.colorPrimary-3b3xI6 {
	@extend %buttonPrimary !optional;
}
.colorWhite-rEQuAQ {
	@extend %buttonWhite !optional;
}
.colorGreen-29iAKY {
	@extend %buttonGreen !optional;
}
.colorRed-1TFJan {
	@extend %buttonRed !optional;
}
.colorGrey-2DXtkV {
	@extend %buttonGrey !optional;
}
.contents-18-Yxp {
	@extend %buttonContents !optional;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
	@extend %buttonFilledBrand !optional;
}
.lookFilled-1Gx00P.colorPrimary-3b3xI6 {
	@extend %buttonFilledPrimary !optional;
}
.lookFilled-1Gx00P.colorWhite-rEQuAQ {
	@extend %buttonFilledWhite !optional;
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
	@extend %buttonFilledGreen !optional;
}
.lookFilled-1Gx00P.colorRed-1TFJan {
	@extend %buttonFilledRed !optional;
}
.lookFilled-1Gx00P.colorGrey-2DXtkV {
	@extend %buttonFilledGrey !optional;
}
.lookOutlined-3sRXeN.colorBrand-3pXr91 {
	@extend %buttonOutlinedBrand !optional;
}
.lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
	@extend %buttonOutlinedPrimary !optional;
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
	@extend %buttonOutlinedWhite !optional;
}
.lookOutlined-3sRXeN.colorGreen-29iAKY {
	@extend %buttonOutlinedGreen !optional;
}
.lookOutlined-3sRXeN.colorRed-1TFJan {
	@extend %buttonOutlinedRed !optional;
}
.lookOutlined-3sRXeN.colorGrey-2DXtkV {
	@extend %buttonOutlinedGrey !optional;
}
.lookInverted-2D7oAl.colorBrand-3pXr91 {
	@extend %buttonInvertedBrand !optional;
}
.lookInverted-2D7oAl.colorPrimary-3b3xI6 {
	@extend %buttonInvertedPrimary !optional;
}
.lookInverted-2D7oAl.colorWhite-rEQuAQ {
	@extend %buttonInvertedWhite !optional;
}
.lookInverted-2D7oAl.colorGreen-29iAKY {
	@extend %buttonInvertedGreen !optional;
}
.lookInverted-2D7oAl.colorRed-1TFJan {
	@extend %buttonInvertedRed !optional;
}
.lookInverted-2D7oAl.colorGrey-2DXtkV {
	@extend %buttonInvertedGrey !optional;
}
.lookLink-9FtZy-.colorBrand-3pXr91 {
	@extend %buttonLinkBrand !optional;
}
.lookLink-9FtZy-.colorPrimary-3b3xI6 {
	@extend %buttonLinkPrimary !optional;
}
.lookLink-9FtZy-.colorWhite-rEQuAQ {
	@extend %buttonLinkWhite !optional;
}
.lookLink-9FtZy-.colorGreen-29iAKY {
	@extend %buttonLinkGreen !optional;
}
.lookLink-9FtZy-.colorRed-1TFJan {
	@extend %buttonLinkRed !optional;
}
.lookLink-9FtZy-.colorGrey-2DXtkV {
	@extend %buttonLinkGrey !optional;
}
.button-1-5Aqk {
	@extend %buttonCircle !optional;
}
.disabled-3Njyym {
	@extend %buttonCircleDisabled !optional;
}
.checkbox-1ix_J3 {
	@extend %checkbox !optional;
}
.checked-3_4uQ9 {
	@extend %checkboxChecked !optional;
}
.checkboxWrapper-SkhIWG {
	@extend %checkboxWrapper !optional;
}
.flex-1O1GKY {
	@extend %flex !optional;
}
.alignStart-H-X2h- {
	@extend %flexAlignStart !optional;
}
.alignEnd-1D6PQi {
	@extend %flexAlignEnd !optional;
}
.alignCenter-1dQNNs {
	@extend %flexAlignCenter !optional;
}
.alignStretch-DpGPf3 {
	@extend %flexAlignStretch !optional;
}
.alignBaseline-LAQbso {
	@extend %flexAlignBaseline !optional;
}
.justifyStart-2NDFzi {
	@extend %flexJustifyStart !optional;
}
.justifyEnd-2E6vba {
	@extend %flexJustifyEnd !optional;
}
.justifyCenter-3D2jYp {
	@extend %flexJustifyCenter !optional;
}
.justifyAround-1n1pnI {
	@extend %flexJustifyAround !optional;
}
.justifyBetween-2tTqYu {
	@extend %flexJustifyBetween !optional;
}
.noWrap-3jynv6 {
	@extend %flexNoWrap !optional;
}
.wrap-ZIn9Iy {
	@extend %flexWrap !optional;
}
.wrapReverse-3ssEE3 {
	@extend %flexWrapReverse !optional;
}
.directionRow-3v3tfG {
	@extend %flexDirectionRow !optional;
}
.directionRowReverse-m8IjIq {
	@extend %flexDirectionRowReverse !optional;
}
.directionColumn-35P_nr {
	@extend %flexDirectionColumn !optional;
}
.spacer-1fA9zc {
	@extend %spacer !optional;
}
.directionUp-ZEk-_J {
	@extend %directionUp !optional;
}
.directionRight-O8AY4M {
	@extend %directionRight !optional;
}
.directionDown-26e7eE {
	@extend %directionDown !optional;
}
.directionLeft-O8iqia {
	@extend %directionLeft !optional;
}
.flowerStarContainer-3zDVtj {
	@extend %flowerStarContainer !optional;
}
.flowerStar-1GeTsn {
	@extend %flowerStar !optional;
}
.childContainer-1wxZNh {
	@extend %flowerStarChild !optional;
}
.icon-1ihkOt {
	@extend %flowerStarPartner !optional;
}
.indicator-1afSc8 {
	@extend %indicator !optional;
}
.animationContainer-C1kDfz {
	@extend %indicatorContainer !optional;
}
.animating-1Fb05y {
	@extend %indicatorAnimating !optional;
}
.notAnimating-2EIRej {
	@extend %indicatorNotAnimating !optional;
}
.innerCircle-2Tsscg {
	@extend %indicatorCircleInner !optional;
}
.outerCircle-2K0c82 {
	@extend %indicatorCircleOuter !optional;
}
.innerCircle-2Tsscg, .outerCircle-2K0c82 {
	@extend %indicatorCircle !optional;
}
.top-3fo3zT {
	@extend %indicatorExclamationTop !optional;
}
.bottom-UE1eOv {
	@extend %indicatorExclamationBottom !optional;
}
.top-3fo3zT, .bottom-UE1eOv {
	@extend %indicatorExclamation !optional;
}
.container-2Pjhx- {
	@extend %listItem !optional;
}
.selected-aXhQR6 {
	@extend %listItemSelected !optional;
}
.layout-2DM8Md {
	@extend %listItemLayout !optional;
}
.avatar-3uk_u9 {
	@extend %listItemAvatar !optional;
}
.content-3QAtGj {
	@extend %listItemContent !optional;
}
.nameAndDecorators-5FJ2dg {
	@extend %listItemNameAndDecorators !optional;
}
.name-uJV0GL {
	@extend %listItemName !optional;
}
.roleColor-rz2vM0 {
	@extend %listItemRoleColor !optional;
}
.children-gzQq2t {
	@extend %listItemChildren !optional;
}
.subText-1KtqkB {
	@extend %listItemActivityText !optional;
}
.subText-1KtqkB {
	@extend %memberListItemSubText !optional;
}
.activity-525YDR {
	@extend %listItemActivity !optional;
}
.activity-2Gy-9S {
	@extend %memberListItemActivity !optional;
}
.activityText-OW8WYb {
	@extend %listItemActivityText !optional;
}
.activityText-yGKsKm {
	@extend %memberListItemActivityText !optional;
}
.activityEmoji-1AR8K6 {
	@extend %listItemActivityEmoji !optional;
}
.activityEmoji-2GDGtF {
	@extend %memberListItemActivityEmoji !optional;
}
.icon-15YQ1T {
	@extend %listItemActivityIcon !optional;
}
.closeButton-2GCmT5 {
	@extend %listItemClose !optional;
}
.scrollerWrap-2lJEkd {
	@extend %scrollerWrap !optional;
}
.scrollerBase-289Jih {
	@extend %scroller !optional;
}
.slider-1PF9SW {
	@extend %slider !optional;
}
.mini-dmm9yo {
	@extend %sliderMini !optional;
}
.input-2_ChIk {
	@extend %sliderInput !optional;
}
.track-11EASc {
	@extend %sliderTrack !optional;
}
.bar-2Qqk5Z {
	@extend %sliderBar !optional;
}
.barFill-23-gu- {
	@extend %sliderBarFill !optional;
}
.grabber-3mFHz2 {
	@extend %sliderGrabber !optional;
}
.bubble-3we2di {
	@extend %sliderBubble !optional;
}
.spinner-2enMB9 {
	@extend %spinner !optional;
}
.inner-1gJC7_ {
	@extend %spinnerInner !optional;
}
.spinnerItem-2HfQC8 {
	@extend %spinnerItem !optional;
}
.wanderingCubesItem-WPXqao {
	@extend %spinnerWanderingCubesItem !optional;
}
.loadingMore-sPqUXZ {
	@extend %loadingMore !optional;
}
.ellipsis-19qdx6 {
	@extend %spinnerEllipsis !optional;
}
.pulsingEllipsis-3YiXRF {
	@extend %spinnerPulsingEllipsis !optional;
}
.pulsingEllipsisItem-32hhWL {
	@extend %spinnerPulsingEllipsisItem !optional;
}
.control-2BBjec {
	@extend %switch !optional;
}
.container-3auIfb {
	@extend %switchContainer !optional;
}
.slider-TkfMQL {
	@extend %switchSlider !optional;
}
.input-rwLH4i {
	@extend %switchCheckbox !optional;
}
.item-PXvHYJ {
	@extend %tabBarItem !optional;
}
.selected-3s45Ha {
	@extend %tabBarItemSelected !optional;
}
.primary-3j8BhM {
	@extend %tabBarItemPrimary !optional;
}
.primarySelected-3uHKZn {
	@extend %tabBarItemPrimarySelected !optional;
}
.header-2RyJ0Y {
	@extend %tabBarHeader !optional;
}
.separator-gCa7yv {
	@extend %tabBarSeparator !optional;
}
.tabBar-1E2ExX {
	@extend %headerBarTabBar !optional;
}
.tabBar-2UKwcE {
	@extend %messagesPopoutTabBar !optional;
}
.tabBarItem-1Cg-MI {
	@extend %messagesPopoutTabBarItem !optional;
}
.tabBarContainer-1s1u-z {
	@extend %userModalTabBarContainer !optional;
}
.tabBar-2MuP6- {
	@extend %userModalTabBar !optional;
}
.tabBarItem-1b8RUP {
	@extend %userModalTabBarItem !optional;
}
.tooltip-2QfLtc {
	@extend %tooltip !optional;
}
.tooltipPointer-3ZfirK {
	@extend %tooltipPointer !optional;
}
.tooltipTop-XDDSxx {
	@extend %tooltipTop !optional;
}
.tooltipBottom-3ARrEK {
	@extend %tooltipBottom !optional;
}
.tooltipLeft-3EDOk1 {
	@extend %tooltipLeft !optional;
}
.tooltipRight-2JM5PQ {
	@extend %tooltipRight !optional;
}
.tooltipContent-bqVLWK {
	@extend %tooltipContent !optional;
}
.tooltipPrimary-1d1ph4 {
	@extend %tooltipPrimary !optional;
}
.tooltipBrand-g03Nz8 {
	@extend %tooltipBrand !optional;
}
.tooltipRed-8-9NeP {
	@extend %tooltipRed !optional;
}
.tooltipGreen-WdeQwd {
	@extend %tooltipGreen !optional;
}
.tooltipYellow-E7eIBE {
	@extend %tooltipYellow !optional;
}
.wrapper-1Rf91z {
	@extend %guildsWrapper !optional;
}
.scrollerWrap-1IAIlv {
	@extend %guildsScrollerWrap !optional;
}
.scroller-2TZvBN {
	@extend %guilds !optional;
}
.listItem-2P_4kh {
	@extend %guild !optional;
}
.friendsOnline-2JkivW {
	@extend %friendsOnline !optional;
}
.guildSeparator-3s64Iy {
	@extend %guildSeparator !optional;
}
.homeIcon-tEMBK1 {
	@extend %homeIcon !optional;
}
.pill-2uzAFe {
	@extend %homePill !optional;
}
.blobContainer-239gwq {
	@extend %guildContainer !optional;
}
.wrapper-sa6paO {
	@extend %guildPill !optional;
}
.item-2hkk8m {
	@extend %guildPillItem !optional;
}
.svg-1X37T1 {
	@extend %guildSVG !optional;
}
.wrapper-1BJsBx {
	@extend %guildLink !optional;
}
.selected-bZ3Lue {
	@extend %guildLinkSelected !optional;
}
.icon-27yU2q {
	@extend %guildIcon !optional;
}
.childWrapper-anI2G9 {
	@extend %guildChildWrapper !optional;
}
.acronym-2mOFsV {
	@extend %guildAcronym !optional;
}
.badgeWrapper-3e8pMZ {
	@extend %guildBadgeWrapper !optional;
}
.lowerBadge-29hYVK {
	@extend %guildBadgeLower !optional;
}
.upperBadge-2XnnGB {
	@extend %guildBadgeUpper !optional;
}
.iconBadge-2wi9r4 {
	@extend %guildBadgeIcon !optional;
}
.icon-3s6X1M {
	@extend %guildBadgeIconSVG !optional;
}
.placeholderMask-3K9THS {
	@extend %guildPlaceholderMask !optional;
}
.dragInner-_SHftW {
	@extend %guildDragInner !optional;
}
.lurkingGuild-3ZJ1gi {
	@extend %guildLurking !optional;
}
.wrapper-21YSNc {
	@extend %guildFolderWrapper !optional;
}
.expandedFolderBackground-2sPsd- {
	@extend %guildFolderBackground !optional;
}
.collapsed-1GMuSb {
	@extend %guildFolderBackgroundCollapsed !optional;
}
.folder-21wGz3 {
	@extend %guildFolder !optional;
}
.hover-2ji_A7 {
	@extend %guildFolderHover !optional;
}
.folderIconWrapper-226oVY {
	@extend %guildFolderIconWrapper !optional;
}
.closedFolderIconWrapper-15K9MK {
	@extend %guildFolderClosedIconWrapper !optional;
}
.expandedFolderIconWrapper-1xLaU- {
	@extend %guildFolderExpandedIconWrapper !optional;
}
.icon-3o6xvg {
	@extend %guildFolderIcon !optional;
}
.iconSizeSmol-2Dw61G {
	@extend %guildFolderIconSizeSmol !optional;
}
.guildIcon-GuAC7C {
	@extend %guildFolderGuildIcon !optional;
}
.noIcon-1a_FrS {
	@extend %guildFolderNoIcon !optional;
}
.expandedGuilds-1JMD4M {
	@extend %guildFolderExpandedGuilds !optional;
}
.circleIconButton-jET_ig {
	@extend %circleIconButton !optional;
}
.selected-ugP_am {
	@extend %circleIconButtonSelected !optional;
}
.guildsErrorContainer-2uWYsE {
	@extend %guildsErrorContainer !optional;
}
.guildsError-b7zR5H {
	@extend %guildsError !optional;
}
.breadcrumbs-SOzMJD {
	@extend %breadcrumbs !optional;
}
.breadcrumbWrapper-WmDjgG {
	@extend %breadcrumbWrapper !optional;
}
.breadcrumbClickWrapper-TpEb92 {
	@extend %breadcrumbClickWrapper !optional;
}
.breadcrumbFinalWrapper-3WqsGi {
	@extend %breadcrumbFinalWrapper !optional;
}
.breadcrumb-22XhB5 {
	@extend %breadcrumb !optional;
}
.breadcrumbArrow-1bJVKv {
	@extend %breadcrumbArrow !optional;
}
.container-1r6BKw {
	@extend %headerBar !optional;
}
.children-19S4PO {
	@extend %headerBarChildren !optional;
}
.toolbar-1t6TWx {
	@extend %toolbar !optional;
}
.base-1x0h_U {
	@extend %headerBarTitle !optional;
}
.muted-3-7c5L {
	@extend %headerBarTitleMuted !optional;
}
.topic-TCb_qw {
	@extend %headerBarTopic !optional;
}
.akaBadge-1M-1Gw {
	@extend %headerBarAkaBadge !optional;
}
.nicknames-1XK4Zt {
	@extend %headerBarNicknames !optional;
}
.iconWrapper-2OrFZ1 {
	@extend %headerBarIconWrapper !optional;
}
.icon-22AiRD {
	@extend %headerBarIcon !optional;
}
.clickable-3rdHwn {
	@extend %headerBarIconClickable !optional;
}
.selected-1GqIat {
	@extend %headerBarIconSelected !optional;
}
.icon-22AiRD.popout-open {
	@extend %headerBarIconPopoutOpen !optional;
}
.cloud-31LAb8 {
	@extend %headerBarIconUpdateCloud !optional;
}
.downloadArrow-BfJJjn {
	@extend %headerBarIconUpdateDownloadArrow !optional;
}
.iconBadge-qZ4Ksk {
	@extend %headerBarIconBadge !optional;
}
.divider-3FBTu8 {
	@extend %headerBarDivider !optional;
}
.updateAvailable-qNqOs7 {
	@extend %headerBarIconUpdateAvailable !optional;
}
.iconForeground-3y9f0B {
	@extend %headerBarIconForeground !optional;
}
.updateIconForeground-3tnNZn {
	@extend %headerBarIconUpdateForeground !optional;
}
.link-2T7oYD {
	@extend %headerBarLinkButton !optional;
}
.linkIcon-PzfbqY {
	@extend %headerBarLinkIcon !optional;
}
.headerBarListing-3DL3sL {
	@extend %headerBarListing !optional;
}
.headerSection-VnaiAo {
	@extend %headerBarListingSection !optional;
}
.headerPurchase-2z_nch {
	@extend %headerBarPurchase !optional;
}
.active-MpmWDn {
	@extend %headerBarPurchaseActive !optional;
}
.input-2A_zIr {
	@extend %headerBarInput !optional;
}
.search-2oPWTC {
	@extend %chatSearch !optional;
}
.open-6_Y_aH {
	@extend %chatSearchOpen !optional;
}
.focused-31_ccS {
	@extend %chatSearchFocused !optional;
}
.searchBar-3dMhjb {
	@extend %chatSearchBar !optional;
}
.DraftEditor-root {
	@extend %chatSearchRoot !optional;
}
.public-DraftEditorPlaceholder-root {
	@extend %chatSearchPlaceholder !optional;
}
.searchFilter-2ESiM3 {
	@extend %chatSearchFilter !optional;
}
.searchAnswer-3Dz2-q {
	@extend %chatSearchAnswer !optional;
}
.libraryFilter-31ZUa2 {
	@extend %librarySearch !optional;
}
.focused-2eiV0o {
	@extend %librarySearchFocused !optional;
}
.container-cMG81i {
	@extend %librarySearchBar !optional;
}
.inner-2P4tQO {
	@extend %librarySearchBarInner !optional;
}
.input-3Xdcic {
	@extend %librarySearchInput !optional;
}
.iconLayout-3OgqU3 {
	@extend %librarySearchIconLayout !optional;
}
.icon-1S6UIr {
	@extend %librarySearchIcon !optional;
}
.clear--Eywng {
	@extend %librarySearchIconClear !optional;
}
.browseSearch-e9jF-f {
	@extend %storeSearch !optional;
}
.focused-20l6Zp {
	@extend %storeSearchFocused !optional;
}
.container-cMG81i {
	@extend %storeSearchBar !optional;
}
.inner-2P4tQO {
	@extend %storeSearchBarInner !optional;
}
.input-3Xdcic {
	@extend %storeSearchInput !optional;
}
.iconLayout-3OgqU3 {
	@extend %storeSearchIconLayout !optional;
}
.iconContainer-2wXvy1 {
	@extend %storeSearchIconContainer !optional;
}
.icon-1S6UIr {
	@extend %storeSearchIcon !optional;
}
.visible-3bFCH- {
	@extend %storeSearchIconVisible !optional;
}
.clear--Eywng {
	@extend %storeSearchIconClear !optional;
}
.topPill-30KHOu {
	@extend %topPill !optional;
}
.item-PXvHYJ {
	@extend %topPillItem !optional;
}
.selected-3s45Ha {
	@extend %topPillItemSelected !optional;
}
.themed-OHr7kt {
	@extend %topPillItemThemed !optional;
}
.activityFeed-1C0EmJ {
	@extend %activityFeed !optional;
}
.layout-1cQCv2 {
	@extend %activityFeedLayout !optional;
}
.h5-18_1nd {
	@extend %activityFeedH5 !optional;
}
.column-E5Tpw7 {
	@extend %activityFeedColumn !optional;
}
.card-GqTca8 {
	@extend %activityFeedCard !optional;
}
.outer-2IVh5n {
	@extend %activityFeedOuter !optional;
}
.interactive-1BeKSi {
	@extend %activityFeedOuterInteractive !optional;
}
.wrapper-Qvfyci {
	@extend %activityFeedMediaWrapper !optional;
}
.image-3g0L65 {
	@extend %activityFeedImage !optional;
}
.video-TNzRgt {
	@extend %activityFeedVideo !optional;
}
.coloredBackground-37Z6Gv {
	@extend %activityFeedColoredBackground !optional;
}
.title-3mg8_z {
	@extend %activityFeedCardTitle !optional;
}
.coloredText-1kAd0O {
	@extend %activityFeedColoredText !optional;
}
.ctaButtons-3Aw3iT {
	@extend %activityFeedCtaButtons !optional;
}
.wrapper-9ppXpy {
	@extend %activityFeedCardFooter !optional;
}
.iconWrapper-3-slmh {
	@extend %activityFeedCardIconWrapper !optional;
}
.interactive-1FxC7B {
	@extend %activityFeedCardIconWrapperInteractive !optional;
}
.colorStandard-2KCXvj {
	@extend %activityFeedColorStandard !optional;
}
.colorMuted-HdFt4q {
	@extend %activityFeedColorMuted !optional;
}
.shareButton-3w0M74 {
	@extend %activityFeedShareButton !optional;
}
.grid-1rkoVH {
	@extend %activityFeedQuickLauncher !optional;
}
.wrapped-15rg6t {
	@extend %activityFeedQuickLauncherWrapped !optional;
}
.unwrapped-37iUtM {
	@extend %activityFeedQuickLauncherUnwrapped !optional;
}
.clickable-nnkAZy {
	@extend %activityFeedQuickLauncherClickable !optional;
}
.empty-hejAOj {
	@extend %activityFeedQuickLauncherEmpty !optional;
}
.icon-2hm0JA {
	@extend %activityFeedQuickLauncherIcon !optional;
}
.wrapper-2ULRsd {
	@extend %activityFeedNowPlayingContainer !optional;
}
.recentlyPlayedContainer-2F3MqS {
	@extend %activityFeedRecentlyPlayedContainer !optional;
}
.popoutContainer-3WC9HR {
	@extend %activityFeedPopoutContainer !optional;
}
.headerIcon-2AzihC {
	@extend %activityFeedContainerHeaderIcon !optional;
}
.multipleIconWrapper-1PjkRO {
	@extend %activityFeedContainerMultipleIconWrapper !optional;
}
.body-1BpgWG {
	@extend %activityFeedPopoutContainerBody !optional;
}
.section-2VKIPC {
	@extend %activityFeedPopoutContainerSection !optional;
}
.popout-3G62UL {
	@extend %activityFeedPopout !optional;
}
.enabled-5QKLzu {
	@extend %activityFeedPopoutEnabled !optional;
}
.memberListContainer-1AKCDy {
	@extend %activityFeedPopoutMemberListContainer !optional;
}
.memberListItem-2ZX2pl {
	@extend %activityFeedPopoutMemberListItem !optional;
}
.avatar-_-TGPX {
	@extend %activityFeedPopoutAvatar !optional;
}
.avatarMask-2Mo_pM {
	@extend %activityFeedPopoutAvatarMask !optional;
}
.separator-2c4hi3 {
	@extend %activityFeedSeparator !optional;
}
.placeholderWrapper-3FaLtZ {
	@extend %activityFeedPlaceholderWrapper !optional;
}
.wrapper-3UweLa {
	@extend %activityFeedNoticeWrapper !optional;
}
.gdprWrapper-33M2Mg {
	@extend %activityFeedGdprWrapper !optional;
}
.image-2prtMm {
	@extend %activityFeedNoticeImage !optional;
}
.header-3uLGFv {
	@extend %activityFeedNoticeHeader !optional;
}
.body-2d4vNQ {
	@extend %activityFeedNoticeBody !optional;
}
.buttons-1T0m8S {
	@extend %activityFeedNoticeButtons !optional;
}
.close-C7sU74 {
	@extend %activityFeedNoticeClose !optional;
}
.container-1D34oG {
	@extend %friends !optional;
}
.activity-2myFBH {
	@extend %friendActivity !optional;
}
.actionButton-uPB8Fs {
	@extend %friendActionButton !optional;
}
.actionAccept-LV-szU {
	@extend %friendActionAcceptButton !optional;
}
.actionDeny-de_uKj {
	@extend %friendActionDenyButton !optional;
}
.wrapper-1cBijl {
	@extend %friendsAddFriendInputWrapper !optional;
}
.addFriendInput-4bcerK {
	@extend %friendsAddFriendInput !optional;
}
.addFriendHint-3Y70FX {
	@extend %friendsAddFriendHint !optional;
}
.gameLibrary-TTDw4Y {
	@extend %gameLibrary !optional;
}
.root-1BQpZw {
	@extend %libraryRoot !optional;
}
.libraryHeader-3g95kE {
	@extend %libraryHeader !optional;
}
.topPill-30KHOu {
	@extend %libraryHeaderPill !optional;
}
.item-PXvHYJ {
	@extend %libraryHeaderItem !optional;
}
.itemSelected-1qLhcL {
	@extend %libraryHeaderItemSelected !optional;
}
.libraryFilter-31ZUa2 {
	@extend %libraryFilter !optional;
}
.libraryFilterInput-3JzqZD {
	@extend %libraryFilterInput !optional;
}
.scroller-1IIF0A {
	@extend %libraryScroller !optional;
}
.table-1tDS6w {
	@extend %libraryTable !optional;
}
.header-39GIC8 {
	@extend %libraryTableHeader !optional;
}
.headerCell-3L6rFG {
	@extend %libraryTableHeaderCell !optional;
}
.headerCellSorted-3a5AzJ {
	@extend %libraryTableHeaderCellSorted !optional;
}
.headerCellContent-1pLtOr {
	@extend %libraryTableHeaderCellContent !optional;
}
.rowWrapper-2fB6P0 {
	@extend %libraryTableRowWrapper !optional;
}
.rowWrapperActive-2L7i9f {
	@extend %libraryTableRowWrapperActive !optional;
}
.rowWrapperDim-2Y1SDG {
	@extend %libraryTableRowWrapperDim !optional;
}
.rowBackground-3MeNoN {
	@extend %libraryTableRowBackground !optional;
}
.row-ZLfFhY {
	@extend %libraryTableRow !optional;
}
.bodyCell-9xKjWE {
	@extend %libraryTableBodyCell !optional;
}
.nameBodyCell-3JOlnK {
	@extend %libraryTableNameCell !optional;
}
.gameIcon-3XJ9fu {
	@extend %libraryTableGameIcon !optional;
}
.nameCellInfo-11WjkQ {
	@extend %libraryTableNameCellInfo !optional;
}
.nameCellText-1mpqtF {
	@extend %libraryTableNameCellText !optional;
}
.textCell-1aBIUP {
	@extend %libraryTableTextCell !optional;
}
.lastPlayedCellNew-3twqHQ {
	@extend %libraryTableLastPlayedCellNew !optional;
}
.actionsCell-1awtNi {
	@extend %libraryTableActionsCell !optional;
}
.settingIcons-3QYa5E {
	@extend %libraryTableSettingsIcons !optional;
}
.settingIcon-1nXguX {
	@extend %libraryTableSettingIcon !optional;
}
.hidden-QHDCKo {
	@extend %libraryTableSettingIconHidden !optional;
}
.playButton-1fMNjH {
	@extend %libraryPlayButton !optional;
}
.playButtonContents-1Ww4h5 {
	@extend %libraryPlayButtonContents !optional;
}
.buttonShine-1CSUM8 {
	@extend %libraryPlayButtonShine !optional;
}
.body-2xXalD {
	@extend %giftInventoryBody !optional;
}
.divider-3573oO {
	@extend %giftInventoryDivider !optional;
}
.codeRedemption-2CtsK6 {
	@extend %giftInventoryCodeRedemption !optional;
}
.header-3YT7-d {
	@extend %giftInventoryCodeRedemptionHeader !optional;
}
.inputPrompt-1vnYnD {
	@extend %giftInventoryInputPrompt !optional;
}
.codeRedemptionInput-2ewYLZ {
	@extend %giftInventoryCodeRedemptionInput !optional;
}
.input-cIJ7To {
	@extend %giftInventoryInput !optional;
}
.root-3iawo2 {
	@extend %giftInventoryRoot !optional;
}
.header-2HrZI4 {
	@extend %giftInventoryRootHeader !optional;
}
.emptyState-20gB_x {
	@extend %giftInventoryEmpty !optional;
}
.emptyStateImage-2eMp68 {
	@extend %giftInventoryEmptyImage !optional;
}
.emptyStateHeader-1ADtcL {
	@extend %giftInventoryEmptyHeader !optional;
}
.emptyStateSubtext-2njjqg {
	@extend %giftInventoryEmptySubtext !optional;
}
.applicationStore-1pNvnv {
	@extend %applicationStore !optional;
}
.homeWrapper-3-Wh5T {
	@extend %storeHomeWrapper !optional;
}
.scroller-9moviB {
	@extend %storeHomeScroller !optional;
}
.scrollerStore-390omS {
	@extend %storeScroller !optional;
}
.homeBody-3SD9SR {
	@extend %storeHomeBody !optional;
}
.matureListing-3tyHbV {
	@extend %storeMatureListing !optional;
}
.heroCarousel-usH_dd {
	@extend %heroCarousel !optional;
}
.carouselContainer-1cw6QH {
	@extend %heroCarouselContainer !optional;
}
.carouselItem-1qFCGP {
	@extend %heroCarouselItem !optional;
}
.itemBackground-1YUOje {
	@extend %heroCarouselItemBackgroundWrapper !optional;
}
.itemBackground-2vEldQ {
	@extend %heroCarouselItemBackground !optional;
}
.itemBody-3zm4Cl {
	@extend %heroCarouselItemBody !optional;
}
.itemDescriptionContainer-3e_aXd {
	@extend %heroCarouselItemDescriptionContainer !optional;
}
.itemDescription-234GLf {
	@extend %heroCarouselItemDescription !optional;
}
.header-2Qd56c {
	@extend %heroCarouselItemHeader !optional;
}
.title-1Qzsze {
	@extend %heroCarouselItemTitle !optional;
}
.tagline-1hvypA {
	@extend %heroCarouselItemTagline !optional;
}
.paginationContainer-2T3a2b {
	@extend %heroCarouselPaginationContainer !optional;
}
.pagination-1omm9k {
	@extend %heroCarouselPagination !optional;
}
.nextArrow-V_4mvH {
	@extend %heroCarouselPaginationNext !optional;
}
.prevArrow-11tqRS {
	@extend %heroCarouselPaginationPrev !optional;
}
.paginationItemContainer-3VCxU- {
	@extend %heroCarouselPaginationItemContainer !optional;
}
.paginationSelected-19h9Kq {
	@extend %heroCarouselPaginationItemContainerSelected !optional;
}
.paginationItem-1B6gk4 {
	@extend %heroCarouselPaginationItem !optional;
}
.overlappingBorder-3aFng4 {
	@extend %heroCarouselPaginationItemBorder !optional;
}
.categoryHeader-1D7Tqy {
	@extend %storeCategoryHeader !optional;
}
.container-hXbkd3 {
	@extend %storeCategoryContainer !optional;
}
.scrollerButton-1Vm5_P {
	@extend %storeCategoryScrollerButton !optional;
}
.scrollerButtonArrow-2zKj8D {
	@extend %storeCategoryScrollerArrow !optional;
}
.arrowLeft-1wVpg5 {
	@extend %storeCategoryScrollerArrowLeft !optional;
}
.arrowRight-aDMq0h {
	@extend %storeCategoryScrollerArrowRight !optional;
}
.arrowDisabled-2F05Id {
	@extend %storeCategoryScrollerArrowDisabled !optional;
}
.arrowHidden-1jg6O9 {
	@extend %storeCategoryScrollerArrowHidden !optional;
}
.gradientOverlayLeft-3w159C {
	@extend %storeCategoryGradientOverlayLeft !optional;
}
.gradientOverlayRight-3vMuS8 {
	@extend %storeCategoryGradientOverlayRight !optional;
}
.homeTile-3qVuGa {
	@extend %storeHomeTile !optional;
}
.tile-QA_yMc {
	@extend %storePerkTile !optional;
}
.description-2oYgWO {
	@extend %storePerkTileDescription !optional;
}
.title-2XwaXv {
	@extend %storePerkTileTitle !optional;
}
.tagline-EIH5-W {
	@extend %storePerkTileTagline !optional;
}
.tags-3pDljb {
	@extend %storePerkTileTags !optional;
}
.perkTag-2O4dx4 {
	@extend %storePerkTilePerkTag !optional;
}
.tile-2H4MQG {
	@extend %storeTile !optional;
}
.tileMedia-1q3guD {
	@extend %storeTileMedia !optional;
}
.splashContainer-2t8Fci {
	@extend %storeTileSplashContianer !optional;
}
.splash-3K76bN {
	@extend %storeSplash !optional;
}
.splashPlaceholder-1ev-9c {
	@extend %storeSplashPlaceholder !optional;
}
.muteContainer-dXWpxM {
	@extend %storeSplashMuteContainer !optional;
}
.muteContainerPlaying-YRMEea {
	@extend %storeSplashMuteContainerPlaying !optional;
}
.muteContainerMediaOverlay-DKYQOo {
	@extend %storeSplashMuteContainerMediaOverlay !optional;
}
.mute-3sDXC3 {
	@extend %storeSplashMute !optional;
}
.details-1DqjXP {
	@extend %storeTileDetails !optional;
}
.gameTitle-8njhLq {
	@extend %storeTileGameTitle !optional;
}
.genres-3s_2iT {
	@extend %storeTileGenres !optional;
}
.genreTag-3QLRUJ {
	@extend %storeTileGenreTag !optional;
}
.footer-3oZnEF {
	@extend %storeFooter !optional;
}
.footerMain-Z8i6ST {
	@extend %storeFooterMain !optional;
}
.footerSub-1Jedbi {
	@extend %storeFooterSub !optional;
}
.browseWrapper-2Qy6vG {
	@extend %storeBrowseWrapper !optional;
}
.filterBackground-QanGTJ {
	@extend %storeBrowseHeaderBackground !optional;
}
.browseTitle-wA9SMk {
	@extend %storeBrowseTitle !optional;
}
.filters--5q7-h {
	@extend %storeBrowseFilters !optional;
}
.filterBrowsingHeaderWrapper-3I9RkU {
	@extend %storeBrowseFilterHeaderWrapper !optional;
}
.sortFilterBar-3hePOV {
	@extend %storeBrowseFilterBar !optional;
}
.filterAndSort-gLX1Ym {
	@extend %storeBrowseFilterAndSort !optional;
}
.filterBrowsing-20BUwa {
	@extend %storeBrowseFilter !optional;
}
.filterBrowsingSelectValue-2QrN9m {
	@extend %storeBrowseFilterValue !optional;
}
.select-1Pkeg4 {
	@extend %storeBrowseFilterSelect !optional;
}
.hideGames-zMTyGl {
	@extend %storeBrowseHideGames !optional;
}
.checkboxWrapper-SkhIWG {
	@extend %storeBrowseCheckboxWrapper !optional;
}
.checkbox-1ix_J3 {
	@extend %storeBrowseCheckbox !optional;
}
.checked-3_4uQ9 {
	@extend %storeBrowseCheckboxChecked !optional;
}
.reverseLabel-3ANTBK {
	@extend %storeBrowseReverseLabel !optional;
}
.browse-3H33-E {
	@extend %storeBrowse !optional;
}
.carouselButtonsContainer-Rba2-D {
	@extend %mediaCarouselButtonsContainer !optional;
}
.viewport-W8LvWa {
	@extend %mediaCarouselViewport !optional;
}
.carousel-18mXWH {
	@extend %mediaCarousel !optional;
}
.item-287JPa {
	@extend %mediaCarouselItemContainer !optional;
}
.item-3V15ea {
	@extend %mediaCarouselItem !optional;
}
.currentItem-UAeoVQ {
	@extend %mediaCarouselItemCurrent !optional;
}
.arrow-3jRqK8 {
	@extend %mediaCarouselArrowButton !optional;
}
.prevButtonContainer-Rc83MJ {
	@extend %mediaCarouselPrevButton !optional;
}
.nextButtonContainer-30eXDb {
	@extend %mediaCarouselNextButton !optional;
}
.arrowContainer-10m4Cy {
	@extend %mediaCarouselArrowContainer !optional;
}
.arrow-2ZP1wS {
	@extend %mediaCarouselArrow !optional;
}
.right-3LuawF {
	@extend %mediaCarouselArrowRight !optional;
}
.left-1sNJYj {
	@extend %mediaCarouselArrowLeft !optional;
}
.pagination-1iCa-F {
	@extend %mediaCarouselPagination !optional;
}
.horizontalPaginationItemContainer-26FwrR {
	@extend %mediaCarouselPaginationContainerHorizontal !optional;
}
.paginationItem-3-iI7C {
	@extend %mediaCarouselPaginationItem !optional;
}
.selectedStorePaginationItem-2t23h9 {
	@extend %mediaCarouselPaginationItemSelected !optional;
}
.storePaginationImg-2P8SMo {
	@extend %mediaCarouselPaginationImg !optional;
}
.paginationVideoOverlay-2gIa1v {
	@extend %mediaCarouselPaginationVideoOverlay !optional;
}
.paginationVideoPlayPill-2lM3nS {
	@extend %mediaCarouselPaginationVideoPill !optional;
}
.iconWrapper-21idzA {
	@extend %mediaCarouselPaginationIconWrapper !optional;
}
.icon-3ZFEtL {
	@extend %mediaCarouselPaginationIcon !optional;
}
.iconPlay-2kgvwV {
	@extend %mediaCarouselPaginationIconPlay !optional;
}
.overlappingBorder-1-XPGl {
	@extend %mediaCarouselPaginationItemBorder !optional;
}
.listingWrapper-329f74 {
	@extend %storeListingWrapper !optional;
}
.scroller-1JpcIc {
	@extend %storeListingScroller !optional;
}
.listing-2nUQ4d {
	@extend %storeListing !optional;
}
.listingLarge-3Rix7u {
	@extend %storeListingLarge !optional;
}
.body-1HEBKj {
	@extend %storeListingBody !optional;
}
.leftColumn-1scUu2 {
	@extend %storeListingLeftColumn !optional;
}
.rightColumn-2YXQ85 {
	@extend %storeListingRightColumn !optional;
}
.title-3KTIjF {
	@extend %storeListingTitle !optional;
}
.divider-21LyPb {
	@extend %storeListingDivider !optional;
}
.whyYouMightLikeIt-2zZIIj {
	@extend %storeListingRecommendation !optional;
}
.header-3HFF3R {
	@extend %storeListingRecommendationHeader !optional;
}
.unit-2r571b {
	@extend %storeListingRecommendationUnit !optional;
}
.recommendationActivity-EJN6Ps {
	@extend %storeListingRecommendationActivity !optional;
}
.description-2Ifi6N {
	@extend %storeListingRecommendationActivityDescription !optional;
}
.username-2gp_Xw {
	@extend %storeListingRecommendationActivityUsername !optional;
}
.recommendationReason-21q3aC {
	@extend %storeListingRecommendationReason !optional;
}
.description-2jnn3p {
	@extend %storeListingRecommendationReasonDescription !optional;
}
.text-1Z3P6i {
	@extend %storeListingRecommendationReasonText !optional;
}
.iconCircle-1dlYo0 {
	@extend %storeListingRecommendationIconCircle !optional;
}
.premiumCircle-3jgziV {
	@extend %storeListingRecommendationPremiumCircle !optional;
}
.news-27xNIP {
	@extend %storeListingNews !optional;
}
.item-2yFVoY {
	@extend %storeListingNewsItem !optional;
}
.systemRequirements-1L5nPd {
	@extend %storeListingSystemRequirements !optional;
}
.requirements-dEriwm {
	@extend %storeListingRequirements !optional;
}
.requirement-2guSgu {
	@extend %storeListingRequirement !optional;
}
.requirementKey-14DT2D {
	@extend %storeListingRequirementKey !optional;
}
.purchaseUnit-2lxci3 {
	@extend %storeListingPurchase !optional;
}
.entitledHeader-3LRNDT {
	@extend %storeListingPurchaseHeader !optional;
}
.headerFancy-1AcCLF {
	@extend %storeListingPurchaseHeaderFancy !optional;
}
.premiumHeaderIcon-bTc_nQ {
	@extend %storeListingPurchasePremiumHeaderIcon !optional;
}
.premiumHeaderPrice-1F1CMD {
	@extend %storeListingPurchasePremiumHeaderPrice !optional;
}
.OSSection-27GaV2 {
	@extend %storeListingPurchaseOSSection !optional;
}
.purchaseUnitOperatingSystem-cnbJPz {
	@extend %storeListingPurchaseOS !optional;
}
.bodySection-jqkkIP {
	@extend %storeListingPurchaseSection !optional;
}
.sku-epQEb_ {
	@extend %storeListingPurchaseSku !optional;
}
.skuNormal-3h1es- {
	@extend %storeListingPurchaseSkuNormal !optional;
}
.name-u2zgy7 {
	@extend %storeListingPurchaseSkuName !optional;
}
.price-NUANu6 {
	@extend %storeListingPurchaseSkuPrice !optional;
}
.label-13UUcd {
	@extend %storeListingPurchaseLabel !optional;
}
.info-1Emy1X {
	@extend %storeListingPurchaseInfo !optional;
}
.genre-1Fi2SE {
	@extend %storeListingPurchaseGenre !optional;
}
.guildInvite-3fvAbr {
	@extend %storeListingInvite !optional;
}
.content-35aVm0 {
	@extend %storeListingInviteContent !optional;
}
.info-3hEr5J {
	@extend %storeListingInviteInfo !optional;
}
.guildIcon-3du51s {
	@extend %storeListingInviteGuildIcon !optional;
}
.infoText-2DvX0j {
	@extend %storeListingInviteInfoText !optional;
}
.name-3TBxUq {
	@extend %storeListingInviteGuildName !optional;
}
.memberInfo-1TAaKC {
	@extend %storeListingInviteMemberInfo !optional;
}
.dot-33s_8n {
	@extend %storeListingInviteStatus !optional;
}
.dotOnline-3qrf96 {
	@extend %storeListingInviteStatusOnline !optional;
}
.dotOffline-1PVTuj {
	@extend %storeListingInviteStatusOffline !optional;
}
.memberText-14Qowr {
	@extend %storeListingInviteMemberText !optional;
}
.features-_IOqVv {
	@extend %storeListingFeatures !optional;
}
.row-1bU71H {
	@extend %storeListingFeature !optional;
}
.featureIcon-1f78KU {
	@extend %storeListingFeatureIcon !optional;
}
.featureText-2crhND {
	@extend %storeListingFeatureText !optional;
}
.checkmarkIcon-2EnYwn {
	@extend %storeListingFeatureCheckmark !optional;
}
.membersWrap-2h-GB4 {
	@extend %membersWrap !optional;
}
.members-1998pB {
	@extend %members !optional;
}
.membersGroup-v9BXpm {
	@extend %membersGroup !optional;
}
.member-3-YXUe {
	@extend %member !optional;
}
.offline-3nJYBR {
	@extend %memberOffline !optional;
}
.icon-1mmpLU {
	@extend %memberIcon !optional;
}
.ownerIcon-uZ6mE7 {
	@extend %memberOwnerIcon !optional;
}
.premiumIcon-2IFPOX {
	@extend %memberPremiumIcon !optional;
}
.memberGroupsPlaceholder-3mwPub {
	@extend %memberGroupPlaceholder !optional;
}
.placeholder-3KRNN9 {
	@extend %memberPlaceholder !optional;
}
.multiplePlaceholder-M9zbu6 {
	@extend %memberPlaceholderMultiple !optional;
}
.placeholderAvatar-damqh6 {
	@extend %memberPlaceholderAvatar !optional;
}
.placeholderUsername-2B_OA9 {
	@extend %memberPlaceholderUsername !optional;
}
.mulitplePlaceholderUsername-pogq9I {
	@extend %memberPlaceholderUsernameMultiple !optional;
}
.invite-18yqGF {
	@extend %activityInvite !optional;
}
.coverImageWrapper-22d5LB {
	@extend %activityInviteCoverImageWrapper !optional;
}
.coverImage-3cjWkd {
	@extend %activityInviteCoverImage !optional;
}
.coverImageActionable-1TMryE {
	@extend %activityInviteCoverImageActionable !optional;
}
.coverImageNotActionable-1MP2Mx {
	@extend %activityInviteCoverImageNotActionable !optional;
}
.blurred-UUeCTs {
	@extend %activityInviteCoverImageBlurred !optional;
}
.artwork-1vrmJ_ {
	@extend %activityInviteArtwork !optional;
}
.artworkActionable-10hKry {
	@extend %activityInviteArtworkActionable !optional;
}
.artworkNotActionable-3519Nv {
	@extend %activityInviteArtworkNotActionable !optional;
}
.artworkSpotifySessionEnded-11d_If {
	@extend %activityInviteArtworkSessionEnded !optional;
}
.header-Hg_qNF {
	@extend %activityInviteHeader !optional;
}
.partyStatus-6AjDud {
	@extend %activityInvitePartyStatus !optional;
}
.actionAndParty-3DXneA {
	@extend %activityInviteActionAndParty !optional;
}
.actionButton-1Vu3oO {
	@extend %activityInviteActionButton !optional;
}
.name-GG2Mcs {
	@extend %activityInviteName !optional;
}
.partyMembers-fGLW2R {
	@extend %activityInvitePartyMembers !optional;
}
.partyMember-2WUkBE {
	@extend %activityInvitePartyMember !optional;
}
.partyMemberKnown-2QGebq {
	@extend %activityInvitePartyMemberKnown !optional;
}
.partyAvatar-34PPpo {
	@extend %activityInvitePartyAvatar !optional;
}
.partyMemberEmpty-2iyh5g {
	@extend %activityInvitePartyMemberEmpty !optional;
}
.moreUsers-1sZP3U {
	@extend %activityInviteMoreUsers !optional;
}
.helpIcon-2EyVTp {
	@extend %activityInviteHelpIcon !optional;
}
.details-3NqflA {
	@extend %activityInviteDetails !optional;
}
.state-2dqgON {
	@extend %activityInviteState !optional;
}
.textLink-3aPthL {
	@extend %activityInviteTextLink !optional;
}
.attachment-33OFj0 {
	@extend %attachment !optional;
}
.embedWrapper-3AbfJJ {
	@extend %attachmentEmbedWrapper !optional;
}
.icon-1kp3fr {
	@extend %attachmentIcon !optional;
}
.attachmentInner-3vEpKt {
	@extend %attachmentInner !optional;
}
.filenameLinkWrapper-1-14c5 {
	@extend %fileNameLinkWrapper !optional;
}
.fileNameLink-9GuxCo {
	@extend %fileNameLink !optional;
}
.metadata-3WGS0M {
	@extend %fileMetadata !optional;
}
.downloadButton-23tKQp {
	@extend %attachmentDownloadButton !optional;
}
.filenameWrapper-1sY0qo {
	@extend %fileNameWrapper !optional;
}
.filename-3eBB_v {
	@extend %fileName !optional;
}
.size-1Arx_I {
	@extend %fileSize !optional;
}
.progress-3Rbvu0 {
	@extend %fileProgress !optional;
}
.progressBar-3u8FBM {
	@extend %fileProgressBar !optional;
}
.cancelButton-3hVEV6 {
	@extend %attachmentCancelButton !optional;
}
.downloadButton-23tKQp, .cancelButton-3hVEV6 {
	@extend %attachmentButton !optional;
}
.inline {
	@extend %codeInline !optional;
}
pre {
	@extend %codePre !optional;
}
.hljs {
	@extend %codeHLJS !optional;
}
.container-206Blv {
	@extend %embedContainer !optional;
}
.embed-IeVjo6 {
	@extend %embed !optional;
}
.embedPill-1Zntps {
	@extend %embedPill !optional;
}
.embedInner-1-fpTo {
	@extend %embedInner !optional;
}
.embedMargin-UO5XwE {
	@extend %embedMargin !optional;
}
.embedLink-1G1K1D {
	@extend %embedLink !optional;
}
.embedProvider-3k5pfl {
	@extend %embedProvider !optional;
}
.embedAuthor-3l5luH {
	@extend %embedAuthor !optional;
}
.embedAuthorName-3mnTWj {
	@extend %embedAuthorname !optional;
}
.embedAuthorNameLink-1gVryT {
	@extend %embedAuthorNameLink !optional;
}
.embedAuthorIcon--1zR3L {
	@extend %embedAuthorIcon !optional;
}
.embedTitle-3OXDkz {
	@extend %embedTitle !optional;
}
.embedTitleLink-1Zla9e {
	@extend %embedTitleLink !optional;
}
.embedDescription-1Cuq9a {
	@extend %embedDescription !optional;
}
.embedFields-2IPs5Z {
	@extend %embedFields !optional;
}
.embedField-1v-Pnh {
	@extend %embedField !optional;
}
.embedFieldName-NFrena {
	@extend %embedFieldName !optional;
}
.embedFieldValue-nELq2s {
	@extend %embedFieldValue !optional;
}
.embedImage-2W1cML {
	@extend %embedImage !optional;
}
.imageWrapper-2p5ogY {
	@extend %imageWrapper !optional;
}
.imageWrapperBackground-E_M6Nu {
	@extend %imageWrapperBackground !optional;
}
.imageWrapperInner-3_dNk0 {
	@extend %imageWrapperInner !optional;
}
.imageError-2OefUi {
	@extend %imageError !optional;
}
.embedThumbnail-2Y84-K {
	@extend %embedThumbnail !optional;
}
.embedVideo-3nf0O9 {
	@extend %embedVideo !optional;
}
.embedIframe-2hcNY5 {
	@extend %embedIframe !optional;
}
.embedGIFTag-n_mDqR {
	@extend %embedGIFTag !optional;
}
.embedVideoActions-O6vR7W {
	@extend %embedVideoActions !optional;
}
.embedVideoAction-2BIhKO {
	@extend %embedVideoAction !optional;
}
.wrapper-129saQ {
	@extend %embedVideoActionsButtonWrapper !optional;
}
.embedFooter-3yVop- {
	@extend %embedFooter !optional;
}
.embedFooterText-28V_Wb {
	@extend %embedFooterText !optional;
}
.embedFooterSeparator-3klTIQ {
	@extend %embedFooterSeparator !optional;
}
.embedFooterIcon-239O1f {
	@extend %embedFooterIcon !optional;
}
.wrapper-35wsBm {
	@extend %inviteWrapper !optional;
}
.h5-18_1nd {
	@extend %inviteTitle !optional;
}
.guildIcon-lQ0uiM {
	@extend %inviteGuildIcon !optional;
}
.guildIconExpired-2Qcq05 {
	@extend %inviteGuildIconExpired !optional;
}
.guildInfo-1STtYi {
	@extend %inviteGuildInfo !optional;
}
.guildName-2hvnt_ {
	@extend %inviteGuildName !optional;
}
.guildNameJoined-H7D9uF {
	@extend %inviteGuildNameJoined !optional;
}
.guildNameExpired-2Hp80V {
	@extend %inviteGuildNameExpired !optional;
}
.guildDetail-1nRKNE {
	@extend %inviteGuildDetail !optional;
}
.status-2L8Zc7 {
	@extend %inviteStatus !optional;
}
.statusOnline-8PnF5L {
	@extend %inviteStatusOnline !optional;
}
.statusOffline-37RKt7 {
	@extend %inviteStatusOffline !optional;
}
.onlineCount-w6_WmG {
	@extend %inviteOnlineCount !optional;
}
.button-3To2tQ {
	@extend %inviteButton !optional;
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
	@extend %inviteButtonAccept !optional;
}
.lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
	@extend %inviteButtonJoined !optional;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
	@extend %inviteButtonExpired !optional;
}
.wrapper-2TxpI8 {
	@extend %player !optional;
}
.wrapperAudio-1jDe0Q {
	@extend %playerAudio !optional;
}
.wrapperControlsHidden-35Gtol {
	@extend %playerControlsHidden !optional;
}
.wrapperPaused-19pWuK {
	@extend %playerPaused !optional;
}
.wrapperPlaying-1pXOW5 {
	@extend %playerPlaying !optional;
}
.metadata-13NcHb {
	@extend %playerMetadata !optional;
}
.audioMetadata-3zOuGv {
	@extend %playerAudioMetadata !optional;
}
.metadataContent-3c_ZXw {
	@extend %playerMetadataContent !optional;
}
.metadataName-14STf- {
	@extend %playerMetadataName !optional;
}
.metadataSize-2UOOLK {
	@extend %playerMetadataSize !optional;
}
.metadataDownload-1fk90V {
	@extend %playerMetadataDownload !optional;
}
.metadataIcon-2FyCKU {
	@extend %playerMetadataIcon !optional;
}
.audioControls-2HsaU6 {
	@extend %playerAudioControls !optional;
}
.videoControls-2kcYic {
	@extend %playerVideoControls !optional;
}
.controlIcon-3cRbti {
	@extend %playerControlIcon !optional;
}
.durationTimeWrapper-OugPFt {
	@extend %playerDurationTimeWrapper !optional;
}
.durationTimeDisplay-jww5fr {
	@extend %playerDurationTimeDisplay !optional;
}
.durationTimeSeparator-2_xpJ7 {
	@extend %playerDurationTimeSeparator !optional;
}
.mediaBarInteraction-37i2O4 {
	@extend %playerMediaBarInteraction !optional;
}
.mediaBarInteractionDragging-2QurIZ {
	@extend %playerMediaBarInteractionDragging !optional;
}
.mediaBarWrapper-3D7r67 {
	@extend %playerMediaBarWrapper !optional;
}
.buffer-26XPkd {
	@extend %playerMediaBarBuffer !optional;
}
.mediaBarPreview-1jfyFs {
	@extend %playerMediaBarPreview !optional;
}
.mediaBarGrabber-1FqnbN {
	@extend %playerMediaBarGrabber !optional;
}
.mediaBarProgress-1xaPtl {
	@extend %playerMediaBarProgress !optional;
}
.bubble-3qRl2J {
	@extend %playerMediaBarBubble !optional;
}
.message-2qnXI6 {
	@extend %message !optional;
}
.wrapper-2a6GCs {
	@extend %messagesWrapper !optional;
}
.groupStart-23k01U {
	@extend %messageGroupStart !optional;
}
.cozyMessage-3V1Y8y {
	@extend %messageCozy !optional;
}
.contents-2mQqc9 {
	@extend %messageContent !optional;
}
.localBotMessage-1cGMdw {
	@extend %messageGroupLocalBotMessage !optional;
}
.messageGroupBlocked-3wrQQX {
	@extend %messageGroupBlocked !optional;
}
.revealed-1_RKsf {
	@extend %messageGroupBlockedRevealed !optional;
}
.messageGroupBlockedBtn-1PBBh- {
	@extend %messageGroupBlockedButton !optional;
}
.messageCompact-kQa7ES {
	@extend %messageCompact !optional;
}
.header-23xsNx {
    @extend %messageHeader !optional;
}
.headerText-3Uvj1Y {
    @extend %messageHeaderText !optional;
}
.username-1A8OIy {
	@extend %messageUsername !optional;
}
.timestamp-3ZCmNB {
	@extend %messageTimestamp !optional;
}
.timestamp-3ZCmNB.alt-1uNpEt {
	@extend %messageTimestampAlt !optional;
}
.container-3-pyIM {
	@extend %messageSystemContainer !optional;
}
.repliedMessage-VokQwo {
	@extend %messageReplied !optional;
}
.repliedTextPreview-2NBljf {
	@extend %messageRepliedTextPreview !optional;
}
.clickable-1bVtEA {
	@extend %messageRepliedTextPreviewClickable !optional;
}
.repliedTextContent-1R3vnK {
	@extend %messageRepliedTextContent !optional;
}
.repliedTextContentIcon-1ivTae {
	@extend %messageRepliedTextContentIcon !optional;
}
.repliedTextPlaceholder-dmN7D1 {
	@extend %messageRepliedTextPlaceholder !optional;
}
.isMentioned-N-h9aa {
	@extend %mentioned !optional;
}
.markup-2BOw-j {
	@extend %markup !optional;
}
.icon-2Po-VO {
	@extend %messageSystemIcon !optional;
}
.wrapper-3WhCwL {
	@extend %mention !optional;
}
.mention {
	@extend %roleMention !optional;
}
.anchor-3Z-8Bb {
	@extend %anchor !optional;
}
.anchorUnderlineOnHover-2ESHQB {
	@extend %anchorUnderlineOnHover !optional;
}
.buttonContainer-DHceWr {
	@extend %messageButtonContainer !optional;
}
.buttons-cl5qTG {
	@extend %messageButtons !optional;
}
.wrapper-2aW0bm{
	@extend %messageButtonWrapper !optional;
}
.button-1ZiXG9 {
	@extend %messageButton !optional;
}
.selected-LCBEAU {
	@extend %messageButtonSelected !optional;
}
.blockquoteContainer-U5TVEi {
	@extend %blockquoteContainer !optional;
}
.blockquoteDivider-2hH8H6 {
	@extend %blockquoteDivider !optional;
}
.reactions-12N0jA {
	@extend %reactions !optional;
}
.reaction-1hd86g {
	@extend %reaction !optional;
}
.reactionMe-wv5HKu {
	@extend %reactionMe !optional;
}
.reactionInner-15NvIl {
	@extend %reactionInner !optional;
}
.reactionCount-2mvXRV {
	@extend %reactionCount !optional;
}
.spoilerText-3p6IlD {
	@extend %spoilerText !optional;
}
.hidden-HHr2R9 {
	@extend %spoilerHidden !optional;
}
.inlineContent-3ZjPuv {
	@extend %spoilerInlineContent !optional;
}
.spoilerContainer-331r0R {
	@extend %spoilerContainer !optional;
}
.spoilerWarning-2aAZq1 {
	@extend %spoilerWarning !optional;
}
.spoiler-1PPAUc {
	@extend %spoilerImage !optional;
}
.hiddenSpoilers-1ksnR6 {
	@extend %spoilerImageHidden !optional;
}
.spoilerEmbed-1fzvzg {
	@extend %spoilerEmbed !optional;
}
.hiddenSpoiler-3i0zpa {
	@extend %spoilerEmbedHidden !optional;
}
.keyboardShortcutsModal-3piNz7 {
	@extend %keyboardShortcutsModal !optional;
}
.keybindShortcut-1BD6Z1 {
	@extend %keybindShortcut !optional;
}
.modal-yWgWj- {
	@extend %modal !optional;
}
.root-1gCeng {
	@extend %modal2 !optional;
}
.header-2tA9Os {
	@extend %modalHeader !optional;
}
 .footer-2gL1pp {
	@extend %modalFooter !optional;
}
.input-cIJ7To {
	@extend %modalInput !optional;
}
.root-SR8cQa {
	@extend %userModal !optional;
}
.topSectionNormal-2-vo2m {
	@extend %userModalTopSectionNormal !optional;
}
.topSectionPlaying-1J5E4n {
	@extend %userModalTopSectionPlaying !optional;
}
.topSectionStreaming-1Tpf5X {
	@extend %userModalTopSectionStreaming !optional;
}
.topSectionSpotify-1lI0-P {
	@extend %userModalTopSectionSpotify !optional;
}
.topSectionXbox-3fWLjS {
	@extend %userModalTopSectionXbox !optional;
}
.topSectionNormal-2-vo2m, .topSectionPlaying-1J5E4n, .topSectionStreaming-1Tpf5X, .topSectionSpotify-1lI0-P, .topSectionXbox-3fWLjS {
	@extend %userModalTopSection !optional;
}
.headerInfo-30uryT {
	@extend %userModalHeaderInfo !optional;
}
.nameTag-2IFDfL {
	@extend %userModalNameTag !optional;
}
.username-3gJmXY {
	@extend %userModalUsername !optional;
}
.discriminator-xUhQkU {
	@extend %userModalDiscriminator !optional;
}
.additionalActionsIcon-1FoUlE {
	@extend %userModalAdditionalActionsIcon !optional;
}
.headerFill-adLl4x {
	@extend %userModalHeaderFill !optional;
}
.activityProfile-2bJRaP {
	@extend %userModalActivity !optional;
}
.profileBadgeWrapper-rl_RO6 {
	@extend %profileBadgeWrapper !optional;
}
.profileBadge-2BqF-Z {
	@extend %profileBadge !optional;
}
.profileBadgeStaff-13GO7z {
	@extend %profileBadgeStaff !optional;
}
.profileBadgePartner-SjK6L2 {
	@extend %profileBadgePartner !optional;
}
.profileBadgeHypesquad-1YIe7Z {
	@extend %profileBadgeHypeSquad !optional;
}
.profileBadgeHypeSquadOnlineHouse1-xN6tES {
	@extend %profileBadgeHypeSquadHouse1 !optional;
}
.profileBadgeHypeSquadOnlineHouse2-3jBpXR {
	@extend %profileBadgeHypeSquadHouse2 !optional;
}
.profileBadgeHypeSquadOnlineHouse3-1YbjMX {
	@extend %profileBadgeHypeSquadHouse3 !optional;
}
.profileBadgeHypeSquadOnlineHouse1Winner-3OGyO6 {
	@extend %profileBadgeHypeSquadHouse1Winner !optional;
}
.profileBadgeHypeSquadOnlineHouse2Winner-3GW5Sm {
	@extend %profileBadgeHypeSquadHouse2Winner !optional;
}
.profileBadgeHypeSquadOnlineHouse3Winner-2iVu11 {
	@extend %profileBadgeHypeSquadHouse3Winner !optional;
}
.profileBadgeEarlySupporter-PQB_0a {
	@extend %profileBadgeEarlySupporter !optional;
}
.profileBadgePremium-3kZ9Qj {
	@extend %profileBadgePremium !optional;
}
.profileBadgeBugHunter-IV0vLE {
	@extend %profileBadgeBugHunter !optional;
}
.profileGuildSubscriberlvl1-pKd1EZ {
	@extend %profileBadgeGuildSubscriber1 !optional;
}
.profileGuildSubscriberlvl2-1aIFve {
	@extend %profileBadgeGuildSubscriber2 !optional;
}
.profileGuildSubscriberlvl3-33AROf {
	@extend %profileBadgeGuildSubscriber3 !optional;
}
.profileGuildSubscriberlvl4-2yY8EG {
	@extend %profileBadgeGuildSubscriber4 !optional;
}
.body-3ND3kc {
	@extend %userModalBody !optional;
}
.userInfoSection-2acyCx {
	@extend %userModalInfoSection !optional;
}
.userInfoSectionHeader-CBvMDh {
	@extend %userModalInfoSectionHeader !optional;
}
.note-QfFU8y {
	@extend %userModalNote !optional;
}
.connectedAccounts-repVzS {
	@extend %userModalConnectedAccounts !optional;
}
.connectedAccount-36nQx7 {
	@extend %userModalConnectedAccount !optional;
}
.connectedAccountIcon-3P3V6F {
	@extend %userModalConnectedAccountIcon !optional;
}
.connectedAccountNameInner-1phBvE {
	@extend %userModalConnectedAccountNameInner !optional;
}
.connectedAccountName-f8AEe2 {
	@extend %userModalConnectedAccountName !optional;
}
.connectedAccountVerifiedIcon-3aZz_K {
	@extend %userModalConnectedAccountVerifiedIcon !optional;
}
.connectedAccountOpenIcon-2cNbq5 {
	@extend %userModalConnectedAccountOpenIcon !optional;
}
.emptyIcon-pGTAhd {
	@extend %userModalEmptyIcon !optional;
}
.emptyIconFriends-BrjhY9 {
	@extend %userModalEmptyIconFriends !optional;
}
.emptyIconGuilds-3OViNh {
	@extend %userModalEmptyIconGuilds !optional;
}
.emptyIconStreamerMode-3RfWOW {
	@extend %userModalEmptyIconStreamerMode !optional;
}
.emptyText-6tYmO5 {
	@extend %userModalEmptyText !optional;
}
.listScroller-2_vlfo {
	@extend %userModalListScroller !optional;
}
.listRow-hutiT_ {
	@extend %userModalListRow !optional;
}
.listAvatar-1NlAhb {
	@extend %userModalListAvatar !optional;
}
.listRowContent-3Kih4Q {
	@extend %userModalListRowConent !optional;
}
.listName-3w10cx {
	@extend %userModalListName !optional;
}
.guildNick-3uAm3i {
	@extend %userModalListGuildNick !optional;
}
.listDiscriminator-253zfw {
	@extend %userModalListDiscriminator !optional;
}
.pageWrapper-1PgVDX {
	@extend %pageWrapper !optional;
}
.bg-AYqtMd {
	@extend %discoveryBG !optional;
}
.pageHeader-3615mp {
	@extend %pageHeader !optional;
}
.body-2lagau {
	@extend %pageBody !optional;
}
.search-JQJ-3r {
	@extend %discoverySearch !optional;
}
.mainHeader-1i17pL {
	@extend %discoveryMainHeader !optional;
}
.searchBox-26HYGw {
	@extend %discoverySearchBox !optional;
}
.searchBox-3Y2Vi7 {
	@extend %searchBox !optional;
}
.searchBoxInput-uJtBcv {
	@extend %searchBoxInput !optional;
}
.input-cIJ7To.focused-1mmYsC {
	@extend %searchBoxInputfocused !optional;
}
.searchIcon-1a1-yA {
	@extend %searchBoxIconSearch !optional;
}
.clearIcon-2N9YIn {
	@extend %searchBoxIconClear !optional;
}
.searchHelpText-19imBp {
	@extend %searchHelpText !optional;
}
.searchHelpTextVisible-1mRnNd {
	@extend %searchHelpTextVisible !optional;
}
.sectionHeader-1Hee-5 {
	@extend %discoverySectionHeader !optional;
}
.guildList-1ItbxP {
	@extend %discoveryGuildList !optional;
}
.guildCard-2arfcG {
	@extend %discoveryGuildCard !optional;
}
.loading-17PYl_ {
	@extend %discoveryGuildCardLoading !optional;
}
.loaded-1eBnjq {
	@extend %discoveryGuildCardLoaded !optional;
}
.card-3DjzTQ {
	@extend %discoveryCard !optional;
}
.cardHovered-15wbb- {
	@extend %discoveryCardHovered !optional;
}
.splash-3N0nhD {
	@extend %discoveryCardSplash !optional;
}
.fade-rdt5qH {
	@extend %discoveryCardFade !optional;
}
.guildInfo-2wGKIg {
	@extend %discoveryGuildInfo !optional;
}
.guildIcon-3W0pfo {
	@extend %discoveryGuildIcon !optional;
}
.avatar-22otdK {
	@extend %discoveryGuildAvatar !optional;
}
.verifiedIcon-1vpk3S {
	@extend %discoveryGuildVerifiedIcon !optional;
}
.title-OqQvkN {
	@extend %discoveryGuildTitle !optional;
}
.memberInfo-3r4FKx {
	@extend %discoveryGuildMemberInfo !optional;
}
.dotOnline-8Ag7EB {
	@extend %discoveryGuildStatusOnline !optional;
}
.dotOffline-3DXoDy {
	@extend %discoveryGuildStatusOffline !optional;
}
.viewButton-3jDZqV {
	@extend %discoveryViewButton !optional;
}
.viewButtonVisible-2AtUPc {
	@extend %discoveryViewButtonVisible !optional;
}
.sectionSeparator-2OWiNT {
	@extend %discoverySectionSeparator !optional;
}
.pageControlContainer-3czZwE {
	@extend %discoveryPageControlContainer !optional;
}
.pageControl-1aUwvK {
	@extend %discoveryPageControl !optional;
}
.pageButton-MknE-_ {
	@extend %discoveryPageButton !optional;
}
.endButton-3wGL3C {
	@extend %discoveryPageButtonEnd !optional;
}
.roundButton-2CW1Hh {
	@extend %discoveryPageButtonRound !optional;
}
.activeButton-1BJAiN {
	@extend %discoveryPageButtonActive !optional;
}
.emptySearchResults-1ba__I {
	@extend %discoveryEmptyResults !optional;
}
.emptySearchImage-1qOMLW {
	@extend %discoveryEmptyImage !optional;
}
.emptySearchTitle-2zDhhZ {
	@extend %discoveryEmptyTitle !optional;
}
.emptySearchDescription-2AmfE4 {
	@extend %discoveryEmptyDescription !optional;
}
.container-VSDcQc {
	@extend %autocompletePopout !optional;
}
.positionTop-3e-X1p {
	@extend %autocompletePopoutTop !optional;
}
.positionBottom-3oo9L9 {
	@extend %autocompletePopoutBottom !optional;
}
.autocompleteShadow-iiGWFU {
	@extend %autocompletePopoutShadow !optional;
}
.autocompleteArrowWrapper-3Z7OuM {
	@extend %autocompletePopoutArrowWrapper !optional;
}
.autocompleteArrow-Zxoy9H {
	@extend %autocompletePopoutArrow !optional;
}
.header-2bNvm4 {
	@extend %autocompletePopoutHeader !optional;
}
.autocompleteHeaderBackground-30T70q {
	@extend %autocompletePopoutHeaderBackground !optional;
}
.headerText-3i6A8K {
	@extend %autocompletePopoutHeaderText !optional;
}
.input-1ppKdn {
	@extend %autocompletePopoutInput !optional;
}
.sectionTag-pXyto9 {
	@extend %autocompletePopoutSection !optional;
}
.autocompleteScroller-iInVqR {
	@extend %autocompletePopoutScroller !optional;
}
.row-rrHHJU {
	@extend %autocompletePopoutRow !optional;
}
.selected-1pIgLL {
	@extend %autocompletePopoutSelected !optional;
}
.container-2x5lvQ {
	@extend %connectionInfo !optional;
}
.header-2C89wJ {
	@extend %connectionInfoHeader !optional;
}
.sparkline-3A-8OK {
	@extend %connectionInfoSparkline !optional;
}
.popoutBottom-31rU82 {
	@extend %connectionInfoBottom !optional;
}
.secured-1Yihly {
	@extend %connectionInfoSecured !optional;
}
.contextMenu-HLZMGh {
	@extend %contextMenu !optional;
}
.subMenuContext-2n_9YM {
	@extend %subContextMenu !optional;
}
.itemGroup-1tL0uz {
	@extend %contextMenuItemGroup !optional;
}
.item-1Yvehc {
	@extend %contextMenuItem !optional;
}
.danger-2dXSTE {
	@extend %contextMenuItemDanger !optional;
}
.brand-3igrJY {
	@extend %contextMenuItemBrand !optional;
}
.itemSubMenu-1vN_Yn {
	@extend %contextMenuItemSubMenu !optional;
}
.emojiPicker-3PwZFl {
	@extend %emojiPicker !optional;
}
.searchBar-5di9mG {
	@extend %emojiPickerSearchBar !optional;
}
.input-1Rv96N {
	@extend %emojiPickerSearchInput !optional;
}
.diversitySelector-1v4_1A {
	@extend %emojiPickerDiversitySelector !optional;
}
.diversitySelectorPopout-3FiGaM {
	@extend %emojiPickerDiversitySelectorPopout !optional;
}
.diversityEmojiItem-L6_IXw {
	@extend %emojiPickerDiversityItem !optional;
}
.categorySection-2sgp74 {
	@extend %emojiPickerCategorySection !optional;
}
.wrapper-1-Fsb8 {
	@extend %emojiPickerCategoryHeaderWrapper !optional;
}
.header-19cWci {
	@extend %emojiPickerCategoryHeader !optional;
}
.emojiItem-14v6tW {
	@extend %emojiPickerItem !optional;
}
.emojiItemSelected-1aLkfV {
	@extend %emojiPickerItemSelected !optional;
}
.emojiItemDisabled-1FvFuF {
	@extend %emojiPickerItemDisabled !optional;
}
.imageLoading-bpSr0M {
	@extend %emojiPickerItemLoading !optional;
}
.inspector-S2gM3e {
	@extend %emojiPickerInspector !optional;
}
.categoryList-2Kzf65 {
	@extend %emojiCategoryList !optional;
}
.scroller-3gAZLs {
	@extend %emojiCategoryScroller !optional;
}
.categoryItem-1D0nxC {
	@extend %emojiCategoryItem !optional;
}
.categoryIcon-1SvUHG {
	@extend %emojiCategoryItemIcon !optional;
}
.categoryItemDefaultCategorySelected-_HCKoz {
	@extend %emojiCategoryItemSelected !optional;
}
.categoryItemGuildCategory-3MisqI {
	@extend %emojiCategoryGuildItem !optional;
}
.guildIcon-3h-1IH {
	@extend %emojiCategoryGuildIcon !optional;
}
.unicodeShortcut-15J8Ck {
	@extend %emojiCategoryUnicodeShortcut !optional;
}
.popout-103y-5 {
	@extend %groupInvitePopout !optional;
}
.header-1R_AjF {
	@extend %groupInvitePopoutHeader !optional;
}
.title-3sZWYQ {
	@extend %groupInvitePopoutTitle !optional;
}
.subtitle-2P4u9v {
	@extend %groupInvitePopoutSubtitle !optional;
}
.searchBar-1Vaz-O {
	@extend %groupInvitePopoutSearchBar !optional;
}
.container-2XeR5Z {
	@extend %groupInvitePopoutSearchContainer !optional;
}
.inner-3ErfOT {
	@extend %groupInvitePopoutSearchBarInner !optional;
}
.input-1Rv96N {
	@extend %groupInvitePopoutSearchInput !optional;
}
.tag-2gHSR7 {
	@extend %groupInvitePopoutSearchTag !optional;
}
.close-3WVtCL {
	@extend %groupInvitePopoutSearchTagClose !optional;
}
.friendWrapper-LdKLp8 {
	@extend %groupInvitePopoutFriendWrapper !optional;
}
.friend-2E0q2S {
	@extend %groupInvitePopoutFriend !optional;
}
.friendSelected-3J_Uh8 {
	@extend %groupInvitePopoutFriendSelected !optional;
}
.nickname-2CALbl {
	@extend %groupInvitePopoutNickname !optional;
}
.discordTag-3gO1VA {
	@extend %groupInvitePopoutDiscordTag !optional;
}
.checkboxWrapper-SkhIWG {
	@extend %groupInvitePopoutCheckboxWrapper !optional;
}
.input-3ITkQf {
	@extend %groupInvitePopoutInput !optional;
}
.inputDefault-3JxKJ2 {
	@extend %groupInvitePopoutInputDefault !optional;
}
.inputDisabled-110Jqx {
	@extend %groupInvitePopoutInputDisabled !optional;
}
.checkbox-1ix_J3 {
	@extend %groupInvitePopoutCheckbox !optional;
}
.footer-1eyGBa {
	@extend %groupInvitePopoutFooter !optional;
}
.footerSeparator-M9dQY1 {
	@extend %groupInvitePopoutFooterSeparator !optional;
}
.menu-3sdvDG {
	@extend %guildHeaderPopout !optional;
}
.item-1tOPte {
	@extend %guildHeaderPopoutItem !optional;
}
.focused-3afm-j {
	@extend %guildHeaderPopoutItemHover !optional;
}
.colorBrand-ROmMP1 {
	@extend %guildHeaderPopoutItemInvite !optional;
}
.colorDanger-2qLCe1 {
	@extend %guildHeaderPopoutItemLeave !optional;
}
.separator-2zcjq8 {
	@extend %guildHeaderPopoutSeparator !optional;
}
.iconContainer-2-XQPY {
	@extend %guildHeaderPopoutIconContainer !optional;
}
.icon-LYJorE {
	@extend %guildHeaderPopoutIcon !optional;
}
.label-1Y-LW5 {
	@extend %guildHeaderPopoutLabel !optional;
}
.container-3cGP6G {
	@extend %messageOptions !optional;
}
.item-2J1YMK {
	@extend %popoutItem !optional;
}
.messagesPopoutWrap-1MQ1bW {
	@extend %messagesPopoutWrap !optional;
}
.header-ykumBX {
	@extend %messagesPopoutHeader !optional;
}
.tab-ck0077 {
	@extend %messagesPopoutHeaderTab !optional;
}
.active-1MbGPa {
	@extend %messagesHeaderTabActive !optional;
}
.messagesPopout-24nkyi {
	@extend %messagesPopout !optional;
}
.mentionFilter-1PQ6ey {
	@extend %mentionFilter !optional;
}
.label-12YslM {
	@extend %mentionFilterLabel !optional;
}
.value-2k8Drt {
	@extend %mentionFilterValue !optional;
}
.channelSeparator-1MxuvT {
	@extend %messagesPopoutChannelSeparator !optional;
}
.channelName-3kBz6H {
	@extend %messagesPopoutChannelName !optional;
}
.guildName-1Bc3Ta {
	@extend %messagesPopoutGuildName !optional;
}
.messageGroupWrapper-o-Zw7G {
	@extend %messageGroupWrapper !optional;
}
.actionButtons-1sUUug {
	@extend %messagesPopoutActionButtons !optional;
}
.jumpButton-3DTcS_ {
	@extend %messagesPopoutJumpButton !optional;
}
.closeButton-17RIVZ {
	@extend %messagesPopoutCloseButton !optional;
}
.recentMentionsFilterPopout-24_uDU {
	@extend %recentMentionsFilterPopout !optional;
}
.hasMore-sul95G {
	@extend %messagesPopoutHasMore !optional;
}
.hasMoreButton-1MELpI {
	@extend %messagesPopoutHasMoreButton !optional;
}
.statusGreen-pvYWjA {
	@extend %statusGreen !optional;
}
.popouts-2bnG9Z {
	@extend %popouts !optional;
}
.popout-2iWAc- {
	@extend %popout !optional;
}
.themedPopout-1TrfdI {
	@extend %themedPopout !optional;
}
.popoutTop-3WSJtH {
	@extend %popoutTop !optional;
}
.popoutTopRight-1lc8Mq {
	@extend %popoutTopRight !optional;
}
.popoutTopLeft-3B0mFf {
	@extend %popoutTopLeft !optional;
}
.popoutRight-1veHKi {
	@extend %popoutRight !optional;
}
.popoutLeft-3aViER {
	@extend %popoutLeft !optional;
}
.popoutBottom-2GAFPg {
	@extend %popoutBottom !optional;
}
.popoutBottomRight-2Rno5S {
	@extend %popoutBottomRight !optional;
}
.popoutBottomLeft-1pG8B4 {
	@extend %popoutBottomLeft !optional;
}
.noArrow-2foL9g {
	@extend %popoutNoArrow !optional;
}
.noShadow-3pu20z {
	@extend %popoutNoShadow !optional;
}
.header-ykumBX {
	@extend %popoutHeader !optional;
}
.footer-1kmXd4 {
	@extend %popoutFooter !optional;
}
.layerContainer-yqaFcK {
	@extend %layerContainer !optional;
}
.layer-v9HyYc {
	@extend %popoutLayer !optional;
}
.translate-2dAEQ6 {
	@extend %popoutTranslate !optional;
}
.animatorTop-2Y7x2r {
	@extend %popoutAnimatorTop !optional;
}
.animatorBottom-fS5rNO {
	@extend %popoutAnimatorBottom !optional;
}
.animatorLeft-1EQxU0 {
	@extend %popoutAnimatorLeft !optional;
}
.animatorRight-3i_YPs {
	@extend %popoutAnimatorRight !optional;
}
.didRender-33z1u8 {
	@extend %popoutAnimatorDidRender !optional;
}
.container-3ayLPN {
	@extend %searchPopout !optional;
}
.resultsGroup-r_nuzN {
	@extend %searchPopoutResultsGroup !optional;
}
.header-2N-gMV {
	@extend %searchPopoutHeader !optional;
}
.option-96V44q {
	@extend %searchPopoutOption !optional;
}
.selected-rZcOL- {
	@extend %searchPopoutOptionSelected !optional;
}
.searchOption-zQ-1l6 {
	@extend %searchPopoutSearchOption !optional;
}
.filter-3Y_im- {
	@extend %searchPopoutFilter !optional;
}
.answer-1n6g43 {
	@extend %searchPopoutAnswer !optional;
}
.nonText-3CRkO0 {
	@extend %searchPopoutNonText !optional;
}
.plusIcon-v0BTrL {
	@extend %searchPopoutPlusIcon !optional;
}
.searchLearnMore-3SQUAj {
	@extend %searchPopoutLearnMore !optional;
}
.searchClearHistory-2cSSMO {
	@extend %searchPopoutClearHistory !optional;
}
.queryContainer-RKFJW- {
	@extend %searchPopoutQueryContainer !optional;
}
.focused-2bY0OD {
	@extend %searchPopoutQueryContainerFocused !optional;
}
.queryText-3xoOY7 {
	@extend %searchPopoutQueryText !optional;
}
.queryShortcut-hJIQMF {
	@extend %searchPopoutQueryShortcut !optional;
}
.keybindShortcutSearchPopout-1MAfqq {
	@extend %searchPopoutKeybindShortcut !optional;
}
.user-O3Czj0 {
	@extend %searchPopoutOptionUser !optional;
}
.displayedNick-3xxvzU {
	@extend %searchPopoutDisplayedNick !optional;
}
.displayUsername-Qekxml {
	@extend %searchPopoutDisplayUsername !optional;
}
.resultChannel-3BYgHX {
	@extend %searchPopoutChannel !optional;
}
.searchResultChannelIcon-1DnTme {
	@extend %searchPopoutChannelIcon !optional;
}
.searchResultChannelIconBackground-7ncwtC {
	@extend %searchResultChannelIconBackground !optional;
}
.searchResultChannelCategory-1l0lSn {
	@extend %searchPopoutChannelCategory !optional;
}
.datePicker--XZbmJ {
	@extend %searchPopoutDatePicker !optional;
}
.calendarPicker-2yf6Ci {
	@extend %searchPopoutCalendarPicker !optional;
}
.datePickerHint-3Q1Udw {
	@extend %searchPopoutDatePickerHint !optional;
}
.hint-165cR4 {
	@extend %searchPopoutHint !optional;
}
.hintValue-29ny8Z {
	@extend %searchPopoutHintValue !optional;
}
.result-2S5Awv {
	@extend %searchPopoutGame !optional;
}
.focused-1Yu0L3 {
	@extend %searchPopoutGameFocused !optional;
}
.resultAssetContainer-Iffozm {
	@extend %searchPopoutGameAssetContainer !optional;
}
.resultContent-1b6_y4 {
	@extend %searchPopoutGameContent !optional;
}
.resultName-raPnaf {
	@extend %searchPopoutGameName !optional;
}
.directorySearchPrice-2Spatv {
	@extend %searchPopoutGamePrice !optional;
}
.react-datepicker {
	@extend %datepicker !optional;
}
.react-datepicker__navigation {
	@extend %datepickerNavigation !optional;
}
.react-datepicker__navigation--next {
	@extend %datepickerNavigationNext !optional;
}
.react-datepicker__navigation--previous {
	@extend %datepickerNavigationPrevious !optional;
}
.react-datepicker__month-container {
	@extend %datepickerMonthContainer !optional;
}
.react-datepicker__header {
	@extend %datepickerHeader !optional;
}
.react-datepicker__current-month {
	@extend %datepickerCurrentMonth !optional;
}
.react-datepicker__day-names {
	@extend %datepickerDayNames !optional;
}
.react-datepicker__day-name {
	@extend %datepickerDayName !optional;
}
.react-datepicker__month {
	@extend %datepickerMonth !optional;
}
.react-datepicker__week {
	@extend %datepickerWeek !optional;
}
.react-datepicker__day {
	@extend %datepickerDay !optional;
}
.react-datepicker__day--selected {
	@extend %datepickerDaySelected !optional;
}
.react-datepicker__day--disabled {
	@extend %datepickerDayDisabled !optional;
}
.react-datepicker__day--today {
	@extend %datepickerDayToday !optional;
}
.react-datepicker__day--outside-month {
	@extend %datepickerDayOutsideMonth !optional;
}
.react-datepicker__day--weekend {
	@extend %datepickerDayWeekend !optional;
}
.react-datepicker__day--mon {
	@extend %datepickerDayMon !optional;
}
.react-datepicker__day--tue {
	@extend %datepickerDayTue !optional;
}
.react-datepicker__day--wed {
	@extend %datepickerDayWed !optional;
}
.react-datepicker__day--thu {
	@extend %datepickerDayThu !optional;
}
.react-datepicker__day--fri {
	@extend %datepickerDayFri !optional;
}
.react-datepicker__day--sat {
	@extend %datepickerDaySat !optional;
}
.react-datepicker__day--sun {
	@extend %datepickerDaySun !optional;
}
.popout-2sKjHu {
	@extend %selectPopout !optional;
}
.filterBrowsingSelectPopout-2kjxuc {
	@extend %selectPopoutFilterBrowsing !optional;
}
.option-1mJRMP {
	@extend %selectPopoutOption !optional;
}
.optionActive-KkAdqq {
	@extend %selectPopoutOptionActive !optional;
}
.optionFocused-8MflSE {
	@extend %selectPopoutOptionFocused !optional;
}
.optionNormal-12VR9V {
	@extend %selectPopoutOptionNormal !optional;
}
.statusItem-2uzPIV {
	@extend %statusPickerItem !optional;
}
.statusIconText-3b4TkH {
	@extend %statusPickerText !optional;
}
.status-3Kz6VS {
	@extend %statusPickerStatus !optional;
}
.status-1AY8sU {
	@extend %statusPickerStatusInner !optional;
}
.helper-2c73HK {
	@extend %statusPickerHelper !optional;
}
.userPopout-3XzG_A {
	@extend %userPopout !optional;
}
.header-2BwW8b {
	@extend %userPopoutHeader !optional;
}
.headerPlaying-j0WQBV {
	@extend %userPopoutHeaderPlaying !optional;
}
.headerStreaming-2FjmGz {
	@extend %userPopoutHeaderStreaming !optional;
}
.headerSpotify-zpWxgT {
	@extend %userPopoutHeaderSpotify !optional;
}
.headerXbox-3G-4PF {
	@extend %userPopoutHeaderXbox !optional;
}
.activityUserPopout-2yItg2 {
	@extend %userPopoutActivity !optional;
}
.mobileIndicator-29f8Xh {
	@extend %userPopoutMobileIndicator !optional;
}
.headerText-2sdzFM {
	@extend %userPopoutHeaderText !optional;
}
.headerNameWrapper-3res2c {
	@extend %userPopoutHeaderNameWrapper !optional;
}
.headerName-fajvi9 {
	@extend %userPopoutHeaderName !optional;
}
.nameTag-m8r81H {
	@extend %userPopoutNameTag !optional;
}
.actionsUserPopout-2MrzCa {
	@extend %userPopoutActions !optional;
}
.listeningActionsUserPopout-Ga2V_N {
	@extend %userPopoutActionsListening !optional;
}
.body-3iLsc4 {
	@extend %userPopoutBody !optional;
}
.bodyInner-245q0L {
	@extend %userPopoutBodyInner !optional;
}
.bodyTitle-Y0qMQz {
	@extend %userPopoutBodyTitle !optional;
}
.rolesList-22qj2L {
	@extend %userPopoutRolesList !optional;
}
.note-3HfJZ5 {
	@extend %userPopoutNote !optional;
}
.footer-1fjuF6 {
	@extend %userPopoutFooter !optional;
}
.quickMessage-1yeL4E {
	@extend %userPopoutQuickMessage !optional;
}
.pro-1T8RK7 {
	@extend %userPopoutPro !optional;
}
.tip-2ab612 {
	@extend %userPopoutTip !optional;
}
.errorPage-u8SYh4 {
	@extend %errorPage !optional;
}
.image-3zK3Wt {
	@extend %errorPageImage !optional;
}
.text-NLHgOm {
	@extend %errorPageText !optional;
}
.note-450gs3 {
	@extend %errorPageNote !optional;
}
.children-rWhLdy {
	@extend %paymentinfo !optional;
}
.container-16j22k {
	@extend %loadingScreen !optional;
}
.links-3Ldd4A {
	@extend %loadingLinks !optional;
}
.path-92Hmty {
	@extend %loadingPath !optional;
}
.path2-1q7bG_ {
	@extend %loadingPath2 !optional;
}
.path3-2l9TIX {
	@extend %loadingPath3 !optional;
}
.searchResultsWrap-3-pOjs {
	@extend %searchResultsWrap !optional;
}
.searchHeader-2XoQg7 {
	@extend %searchHeader !optional;
}
.totalResults--dyAxF {
	@extend %searchTotalResults !optional;
}
.tab-2j5AEF {
	@extend %searchTab !optional;
}
.selected-2LAck8 {
	@extend %searchTabSelected !optional;
}
.resultsWrapper-hoiXCY {
	@extend %searchResultsWrapper !optional;
}
.searchResults-2J8dju {
	@extend %searchResults !optional;
}
.channelSeparator-1X1FuH {
	@extend %searchChannelSeparator !optional;
}
.channelName-1QajIf {
	@extend %searchChannelName !optional;
}
.searchResult-9tQ1uo {
	@extend %searchResult !optional;
}
.expanded-v2Szsz {
	@extend %searchResultExpanded !optional;
}
.searchResultMessage-2VxO12 {
	@extend %searchResultMessage !optional;
}
.hit-NLlWXA {
	@extend %searchResultMessageHit !optional;
}
.sibling-3tUBeh {
	@extend %searchResultMessageSibling !optional;
}
.before-1x1q5S {
	@extend %searchResultMessageBefore !optional;
}
.after-2g0jjc {
	@extend %searchResultMessageAfter !optional;
}
.actionButtons-14P9IC {
	@extend %searchResultActionButtons !optional;
}
.button-11zvza {
	@extend %searchResultJumpButton !optional;
}
.highlight {
	@extend %searchResultHighlight !optional;
}
.pagination-eQpqgk {
	@extend %searchPagination !optional;
}
.paginationPrevious-4Yw0Tk {
	@extend %searchPaginationPrevious !optional;
}
.paginationNext-3Tefao {
	@extend %searchPaginationNext !optional;
}
.disabled-AFY2aL {
	@extend %searchPaginationDisabled !optional;
}
.contentRegion-3nDuYy {
	@extend %settingsContentRegion !optional;
}
.contentRegionScroller-26nc1e {
	@extend %settingsContentScroller !optional;
}
.role-3wi9Tf {
	@extend %settingsRoleItem !optional;
}
.sidebarScrollable-1qPI87 {
	@extend %settingsContentSidebarScrollable !optional;
}
.scroller-305q3I {
	@extend %settingsContentSidebarScroller !optional;
}
.toolsContainer-1edPuj {
	@extend %settingsToolsContainer !optional;
}
.tools-3-3s-N {
	@extend %settingsTools !optional;
}
.container-1sFeqf {
	@extend %settingsCloseButtonContainer !optional;
}
.closeButton-1tv5uR {
	@extend %settingsCloseButton !optional;
}
.keybind-KpFkfr {
	@extend %settingsCloseButtonKeybind !optional;
}
.userSettingsAccount-2eMFVR {
	@extend %settingsUserAccount !optional;
}
.userSettingsSecurity-3IYeMF {
	@extend %settingsUserAccountSecurity !optional;
}
.standardSidebarView-3F1I7i {
	@extend %standardSidebarView !optional;
}
.sidebarRegion-VFTUkN {
	@extend %settingsSidebarRegion !optional;
}
.sidebarRegionScroller-3MXcoP {
	@extend %settingsSidebarScroller !optional;
}
.sidebar-CFHs9e {
	@extend %settingsSidebar !optional;
}
.side-8zPYf6 {
	@extend %settingsSide !optional;
}
.socialLinks-3jqNFy {
	@extend %settingsSocialLinks !optional;
}
.link-1IoFq- {
	@extend %settingsSocialLink !optional;
}
.activityUserPopout-2yItg2, .activityProfile-2bJRaP {
	@extend %activity !optional;
}
.headerText-1HLrL7 {
	@extend %activityHeaderText !optional;
}
.nameNormal-2lqVQK {
	@extend %activityNameNormal !optional;
}
.activityName-1IaRLn {
	@extend %activityName !optional;
}
.textHover-3f_j3D {
	@extend %activityNameTextHover !optional;
}
.bodyLink-3A8Buv {
	@extend %activityBodyLink !optional;
}
.timestamp-VjAZmo {
	@extend %activityTimestamp !optional;
}
.wrapper-3t9DeA {
	@extend %avatarWrapper !optional;
}
.mask-1l8v16 {
	@extend %avatarMask !optional;
}
.avatar-VxgULZ {
	@extend %avatarImage !optional;
}
.avatar-1BDn8e {
	@extend %avatarLarge !optional;
}
.avatarOffline-3GF27z {
	@extend %avatarOffline !optional;
}
.avatar-3EQepX {
	@extend %avatarProfile !optional;
}
.botTag-2WPJ74 {
	@extend %botTag !optional;
}
.botTagInvert-18-95s {
	@extend %botTagInvert !optional;
}
.role-2irmRk {
	@extend %role !optional;
}
.roleCircle-3xAZ1j {
	@extend %roleCircle !optional;
}
.roleRemoveIcon-2-TeGW {
	@extend %roleRemoveIcon !optional;
}
.roleName-32vpEy {
	@extend %roleName !optional;
}
.addButton-pcyyf6 {
	@extend %roleAddButton !optional;
}
.mask-1qbNWk {
	@extend %statusMask !optional;
}
.pointerEvents-2zdfdO {
	@extend %statusPointerEvents !optional;
}
.cursorDefault-dsQJ1n {
	@extend %statusCursorDefault !optional;
}
.loading-Ags1CY {
	@extend %loading !optional;
}
.container-2fRDfG {
	@extend %replyContainer !optional;
}
.mentionButton-3710-W {
	@extend %replyMentionButton !optional;
}
.closeButton-37O8QC {
	@extend %replyCancelButton !optional;
}
.separator-ju-9xl {
	@extend %replySeperator !optional;
}
.hasReply-16cIUP {
	@extend %textAreaHasReply !optional;
}
.replying-1x3H0T {
	@extend %replyingToIndicator !optional;
}
.item-26Dhrx {
	@extend %radioItem !optional;
}
.radioBar-bMNUI- {
	@extend %radioBar !optional;
}
.radioIconForeground-XwlXQN {
	@extend %radioIconChecked !optional;
}
.info-3LOr12 {
	@extend %radioInfo !optional;
}
.userSettingsVoice-iwdUCU {
	@extend %userSettingsVoice !optional;
}
.container-3PXSwK {
	@extend %micTestContainer !optional;
}
.progress-1IcQ3A {
	@extend %micTestProgress !optional;
}
.notches-1sAcEM {
	@extend %micTestNotches !optional;
}
.roleRow-30TwGe {
	@extend %roleRow !optional;
}
.roleRowDisableHover-1HiqqT {
	@extend %roleRowDisabledHover !optional;
}
.none-2Eo-qx {
	@extend %scrollbarNone !optional;
}