/* CHAT CHANNEL TEXT AREA AUTOCOMPLETE */
%chat {
	%autocomplete {
		background: transparent;
		overflow: hidden;
	}
}
%autocomplete {
	%autocompleteInner {
		background: var(--textbox-autocomplete);
		animation: cv-menu-slide-bottom .2s ease-in-out;		
		transform-origin: 50% 100%;
	}
	%autocompleteTitle {
		color: hsla(0, 0%, 100%, .5);
	}
	%autocompleteContent {
		color: hsla(0, 0%, 100%, .6);
	}
	%autocompleteIconForeground {
		fill: hsla(0, 0%, 100%, .3);
	}
	%autocompleteDescription,
	%autocompleteDescriptionUsername {
		color: hsla(0, 0%, 100%, .3);
	}
	%autocompleteDescriptionDiscriminator {
		color: hsla(0, 0%, 100%, .15);
	}
	%autocompleteSelectorSelected {
		background: $main-color !important;
		> %autocompleteContent {
			color: #fff;
		}
		%autocompleteIconForeground {
			fill: hsla(0, 0%, 100%, .7);
		}
		%autocompleteDescription,
		%autocompleteDescriptionUsername,
		%autocompleteDescriptionDiscriminator {
			color: hsla(0, 0%, 100%, .7);
		}
	}
}

// SLASH COMMANDS AUTOCOMPLETE
.rail-2CbP6L {
	background-color: transparent;
}
.selected-3xBBKs, .selected-3xBBKs:hover {
	background-color: $main-color;
}
.categoryHeader-O1zU94 {
	background-color: transparent;
}
%autocompleteSelectorSelected {
	.source-3DBj4z,
	.description-QP9Ktn {
		color: hsla(0, 0%, 100%, .7);
	}
}
.optionalHeader-mLQoIx {
	color: hsla(0, 0%, 100%, .7);
	border-color: transparent;
}
.option-1B5ZV8 {
	background-color: hsla(0,0%,0%,.7);
}

// SLASH COMMANDS AUTOCOMPLETE TAB
.bar-AokMp3 {
	background-color: transparent;
}
.pill-2pQByF {
	background-color: $main-color;
	color: #fff;
}
.tabButton-1n4gNP {
	opacity: 1;
	border: 1px solid $hover-color;
	border-radius: 3px;
	box-shadow: inset 0 -4px $main-color;
	path:first-child,
	rect {
		fill: transparent;
	}
}
