/* CHANNEL LIST */
%channelsSidebar {
	width: cv("channels-width");
	background: rgba(0, 0, 0, calc(#{cv("bg.app.shading")} * .3));
	%platformWin & {
		border-radius: 0;
	}	
}
%channelsContainer {
	background: transparent;

	// CHANNELS HEADER
	%channelsHeaderContainer {
		z-index: 2;
	}
	%channelsHeader {
		height: 48px;
		background: rgba(0, 0, 0, calc(#{cv("bg.app.shading")} * .15));
		box-shadow: 0 2px 10px rgba(0, 0, 0, calc(#{cv("bg.app.shading")} * .3));
		color: #fff;
		font-weight: 600;
		text-shadow: 0 0 3px #000;
		&:hover,
		&.popout-open {
			background: rgba(0, 0, 0, calc(#{cv("bg.app.shading")} * .3));
		}
	}
	
	// GUILD BADGE
	%channelsHeaderGuildBadge {
		%flowerStar {
			display: none;
		}
		%flowerStarChild {
			background: hsla(0, 0%, 100%, .07);
			border-radius: 50%;
		}
	}
	%guildPartnered {
		background: hsla(0, 0%, 100%, .07);
		border-radius: 50%;
		%channelsHeaderGuildBadgeIcon {
			color: $main-color;
			filter: drop-shadow(0 0 3px);
		}
	}
	%guildVerified {
		background: url(https://clearvision.gitlab.io/icons/verified.svg) center/18px no-repeat;
		filter: drop-shadow(0 0 5px);
		%flowerStarChild {
			display: none;
		}
	}
	%guildBoostedIcon {
		color: $main-color;
		filter: drop-shadow(0 0 3px);
	}

	// GUILD BANNER
	%bannerAnimatedContainer {
		background: transparent;
		box-shadow: none;
	}
	%bannerImage {
		-webkit-mask: linear-gradient(to bottom, #000, transparent);
		mask: linear-gradient(to bottom, #000, transparent);
	}
}