/* EMOJI PICKER */

.drawerSizingWrapper-17Mss4 {
	min-width: 430px;
}
.contentWrapper-SvZHNd {
	background-color: rgba(0, 0, 0, .8);
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
// NAV BAR
.navButtonActive-1MkytQ {
	background-color: $main-color;
}


%emojiPicker {
	background-color: rgba(0, 0, 0, .8);
	min-width: 430px;
}
// SEARCH BAR
%emojiPickerSearchBar {
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.12);
	margin-top: 2px;
	&:focus-within {
		box-shadow: 0 0 2px 2px $main-color;
		transition: all .15s ease-in-out;
		%emojiPickerSearchInput {
		color: #fff;
			&::placeholder {
			color: hsla(0, 0%, 100%, .3);
			}
		}
	}
}

// DIVERSITY SELECTOR	
%emojiPickerDiversitySelectorPopout {
	border: none;
	padding: 2px;
	background-color: hsla(0, 0%, 0%, .8);
	%emojiPickerDiversityItem {
		border-radius: 3px;
		transition: all .15s ease-in-out;
		&:hover {
			background-color: hsla(0, 0%, 100%, .07);
		}
	}
}

// EMOJI ITEM
%emojiPickerCategoryHeaderWrapper {
	background-color: transparent;
	%emojiPickerCategoryHeader {
		color: #fff;
	}
}
%emojiPickerItem {
	border-radius: 3px;
	transition: all .15s ease-in-out, filter 0s;
	&%emojiPickerItemSelected  {
		background-color: hsla(0, 0%, 100%, .07);
	}
	&%emojiPickerItemDisabled {
		filter: grayscale(1); 
	}
	&:focus {
		outline: var(--main-color) auto 1px;
	}
}
%themeDark {
	%emojiPickerItemLoading {
	background-image: none;
	}
}
%emojiPickerInspector {
	background-color: transparent;
}

// CATEGORIES
%emojiCategoryList {
	background-color: transparent;
}
%emojiCategoryItem {
	&:hover {
		background-color: hsla(0, 0%, 100%, .07);
		border-radius: 4px;		
	}
	&%emojiCategoryItemSelected {
		background-color: hsla(0, 0%, 100%, .1);
		border-radius: 4px;
	}
}
%emojiCategoryItemIcon {
	color: hsla(0, 0%, 100%, .7);
	%emojiCategoryItemSelected & {
		color: #fff;
	}
}
%emojiCategoryGuildIcon {
	background-color: transparent;
}
%emojiCategoryUnicodeShortcut	 {
	background-color: $main-color;
	svg {
		color: hsla(0, 0%, 100%, .9)
	}
	&:hover {
		background-color: $hover-color;
		svg {
			color: #fff;
		}
	}
}

/*  OLD CATEGORIES
%emojiPickerCategoriesItemPeople {
	background-image: url(https://clearvision.gitlab.io/icons/discord/emojiSmileys.svg);
}
%emojiPickerCategoriesItemNature {
	background-image: url(https://clearvision.gitlab.io/icons/discord/emojiNature.svg);
}
%emojiPickerCategoriesItemFood {
	background-image: url(https://clearvision.gitlab.io/icons/discord/emojiFood.svg);
}
%emojiPickerCategoriesItemActivity {
	background-image: url(https://clearvision.gitlab.io/icons/discord/emojiActivity.svg);
}
%emojiPickerCategoriesItemTravel {
	background-image: url(https://clearvision.gitlab.io/icons/discord/emojiTravel.svg);
}
%emojiPickerCategoriesItemObjects {
	background-image: url(https://clearvision.gitlab.io/icons/discord/emojiObject.svg);
}
%emojiPickerCategoriesItemSymbols {
	background-image: url(https://clearvision.gitlab.io/icons/discord/emojiSymbol.svg);
}
%emojiPickerCategoriesItemFlags {
	background-image: url(https://clearvision.gitlab.io/icons/discord/emojiFlags.svg);
}   
%emojiPickerCategoriesItemCustom {
	background-image: url(https://clearvision.gitlab.io/icons/discord/emojiCustom.svg);
}
*/