/* MESSAGES POPOUT */
%popoutLayer {
	%themedPopout {
		background-color: rgba(0, 0, 0, .8);
		border: none;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, .5);
		%popoutHeader {
			background-color: $main-color;
			border-radius: 3px 3px 0 0;
			%mentionFilterLabel {
				color: hsla(0, 0%, 100%, .5);
			}
			%mentionFilterValue {
				color: #fff;
			}
		}
		%popoutFooter {
			background-color: rgba(0, 0, 0, .5);
		}
	}
	%messagesPopoutWrap {
		animation: cv-menu-fold-y .2s cubic-bezier(.2, .6, .5, 1.1);
		transform-origin: 50% 0;
		background-color: rgba(0, 0, 0, .8);
		border: none;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	}
	%messagesPopoutHeader {
		background: transparent;
		
		%messagesPopoutHeaderTab {
			&%messagesHeaderTabActive {
				background-color: $main-color !important;
			}
		}
	}
	%messagesPopout {
		background: transparent;

		// CHANNEL NAME
		%messagesPopoutChannelName {
			color: $main-color;
			text-shadow: 0 0 1px;
			transition: all .15s ease-in-out;
			&:hover {
				text-shadow: 0 0 3px;
				text-decoration: none;
			}
		}

		// GUILD NAME
		%messagesPopoutGuildName {
			color: hsla(0, 0%, 100%, .3);
		}

		// MESSAGE GROUP
		%messageGroupWrapper {
			margin: 0;
			background-color: transparent;
			border: none;
			border-bottom: solid 1px hsla(0, 0%, 100%, .04);
			border-radius: 0;
			transition: all .15s ease-in-out;
			&:last-child {
				border-bottom: none;
			}
			&:hover {
				background-color: hsla(0, 0%, 100%, .04);
				%messageHeaderCozyMeta {
					-webkit-mask-image: linear-gradient(to right, #000 230px, transparent 245px);
					mask-image: linear-gradient(to right, #000 230px, transparent 245px);
				}
			}
			+ %messageGroupWrapper {
				margin-top: -1px;
			}
			%messageHeaderCozyMeta {
				-webkit-mask-image: linear-gradient(to right, #000 290px, transparent 305px);
				mask-image: linear-gradient(to right, #000 290px, transparent 305px);
			}
			%messagesPopoutActionButtons {
				background-color: transparent;
				box-shadow: none;
				opacity: 0;
				transition: all .15s ease-in-out;
				%messagesPopoutJumpButton {
					background-color: rgba(0, 0, 0, .3);
					color: hsla(0, 0%, 100%, .5);
					border-radius: 3px;
					transition: all .3s ease-in-out;
					&:hover {
						background-color: $main-color;
						color: #fff;
						transition-duration: .15s;
					}
				}
				%messagesPopoutCloseButton {
					opacity: .3;
					transition: all .15s ease-in-out;
					&:hover {
						opacity: .7;
					}
				}
			}
			&:hover {
				%messagesPopoutActionButtons {
					opacity: 1;
				}
			}
		}
	}
}
%statusGreen {
	color: $main-color;
}

// TAB BAR
%messagesPopoutTabBar {
	%messagesPopoutTabBarItem {
		position: relative;
		margin: 0;
		padding: 5px 10px 15px;
		border: none !important;
		color: hsla(0, 0%, 100%, .5) !important;
		transition: all .15s ease-in-out;
		+ %messagesPopoutTabBarItem {
			margin-left: 3px;
		}
		&:before {
			content: "";
			position: absolute;
			@include stretch;
			background: linear-gradient(to top, transparent, rgba(0, 0, 0, .2) 50%);
			border-radius: 3px 3px 0 0;
			opacity: 0;
			transition: all .15s ease-in-out, bottom .2s ease-in-out;
			z-index: -1;
		}
		&:after {
			content: "";
			position: absolute;
			@include pos(100%, 0, 0, 0);
			background-color: #fff;
			border-radius: 3px 3px 0 0;
			transition: top .2s ease-in-out;
			z-index: -1;
		}
		&:hover,
		&[style*="color: rgb(255, 255, 255)"] {
			&:before {
				opacity: 1;
			}
		}
		&:hover {
			color: hsla(0, 0%, 100%, .7) !important;
		}
		&[style*="color: rgb(255, 255, 255)"] {
			color: #000 !important;
			mix-blend-mode: screen;
			transform: translateZ(0);
			&:before {
				bottom: 100%;
				animation: cv-slide-bottom .2s ease-in-out reverse;
			}
			&:after {
				top: 0;
				animation: cv-slide-top .2s ease-in-out;
			}
		}
	}
}

// FILTER
%recentMentionsFilterPopout {
	animation: cv-menu-fold-y .3s cubic-bezier(.2, .6, .5, 1.1);
	transform-origin: 50% 0;
}

// HAS MORE
%messagesPopoutHasMore {
	> %messagesPopoutHasMoreButton {
		background-color: hsla(0, 0%, 100%, .07);
		border: none;
		border-radius: 3px;
		color: hsla(0, 0%, 100%, .7);
		transition: all .15s ease-in-out;
		&:hover {
			background-color: $main-color;
			color: #fff;
		}
		&:active {
			transform:scale(.99);
		}
	}
}