/* SERVER SETTINGS */

// Save Changes
.theme-dark .elevationHigh-1PneE4 {
    background-color: hsla(0, 0%, 0%, .7) !important;
}

// Overview


// Roles
.theme-dark .colorPickerCustom-2CWBn2 {
    background-color: hsla(0, 0%, 0%, .7)
}
.container-_phMUq {
    background-color: $main-color;
    color: #fff;
    &:hover {
        background-color: $hover-color;
    }
}
%roleRow:hover:not(%roleRowDisabledHover) %buttonCircle {
    background-color: $main-color;
	&:hover {
        background-color: $hover-color;
	}
}

.titleContainer-2CXtJo {
    background-color: transparent;
}
.header-2mZ9Ov {
    background-color: transparent;
}
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
    background-color: $main-color;
    color: #fff;
    &:hover {
        background-color: $main-color;
    }
}
.themed-OHr7kt.item-PXvHYJ {
    color: #fff;
}
.disabled-1Hwwfb.item-PXvHYJ, .disabled-1Hwwfb.item-PXvHYJ:hover {
    color: hsla(0, 0%, 100%, .3);
}

// Emoji
.theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
    background-color: hsla(0, 0%, 100%, .05);
    padding-bottom: 2.5px;
    padding-left: 8px;
}

// Audit Log
%themeDark {
    .auditLog-3jNbM6 {
        border-color: hsla(0, 0%, 100%, .07);
        .headerClickable-2IVFo9,
        .headerDefault-1wrJcN {
            background-color: hsla(0, 0%, 0%, .4);
        }
        .headerExpanded-CUEwZ5,
        .divider-1pnAR2,
        .changeDetails-bk98pu {
            background-color: hsla(0, 0%, 0%, .7);
        }
    }
} 

// Server Insights
.analyticsCard-qckucw {
    background-color: hsla(0, 0%, 0%, .4);
}
.developerPortalCtaWrapper-2XNafh {
    background-color: transparent;
}

// Server Template
.descriptionBox-1EKQKL {
    background-color: hsla(0, 0%, 0%, .4);
}

// Enable community footer pictures
.featureCard-1RR4Tl,
.featureIcon-3p1TC_ {
    background-color: hsla(0, 0%, 0%, .4);
}

// Partner Program 
.checklistContainer-mFJZEJ {
    background-color: hsla(0, 0%, 0%, .4);
    .checklistHeader-1KWcEY {
        background-color: hsla(0, 0%, 0%, .4);
    }
    .separator-Hx_3SF {
        background-color: hsla(0, 0%, 100%, .06);
        opacity: 1;
    }
}

// Enable Discovery
.container-2w0lh0 {
    background-color: hsla(0, 0%, 0%, .7);
}
.checklist-3Y6Fqp {
    background-color: hsla(0, 0%, 0%, .4);
    .header-2Y0-A- {
        background-color: hsla(0, 0%, 0%, .4);
    }
    .separator-1COOpU {
        background-color: hsla(0, 0%, 100%, .06);
    }
}

// Welcome Screen - example
.card-3RzMcx, .emptyChannelIcon-cc932w { //something else
	background-color: var(--background-overlay);
}
.exampleModal-2X2Vf8 {
    background-color: hsla(0, 0%, 0%, .5);
    .optionContainer-1FtykV {
        background-color: $main-color;
    }
}
.exampleModal-2X2Vf8, .exampleContainer-25sB-A, .optionContainer-1FtykV {
	background-color: hsla(0, 0%, 0%, .5);
}

// Welcome Screen - settings
.enableContainer-6E-puu,
.previewContainer-1SS3uO {
    background-color: hsla(0, 0%, 0%, .4);
}
.editCircle-ityklj {
    background-color: $main-color;
    color: white;
}
.welcomeChannel-1rFrIO {
    background-color: hsla(0, 0%, 100%, .05);
    .channelIcon-1eKmlw {
        background-color: transparent;
    }
}


// Server Boost Status
%themeDark {
    .background-3xPPFc {
        color: hsla(0, 0%, 0%, .4)
    }
    .tierInProgress-3mBoXq {
        background-color: hsla(0, 0%, 0%, .4);
        border: 3px solid #f47fff;
    }
    .tierHeaderLocked-1a2opw,
    .tierBody-x9kBBp {
        background-color: hsla(0, 0%, 0%, .4);
    }
}
// Server icon in server boost page
.guildIcon-3raYf3 {background-color: transparent;}

// Server Boost
.upsellFooter-3coAfO {
	background-color: transparent;
}
.theme-dark {
	.iconWrapper-3LVgIo {
		background: var(--main-color);
	}
}
.icon-TYbVk4 {
	color: #fff;
	&.disabled-24YXy- {
		color: #fff;
	}
	&:hover {
		background: var(--hover-color);
	}
}
.icon-TYbVk4.disabled-24YXy-, .icon-TYbVk4.disabled-24YXy-:hover {
	color: var(--hover-color);
}

// Members
.searchBar-1YE5UV {
    background-color: hsla(0,0%,0%,.4);
}
.theme-dark {
    .popoutList-T9CKZQ {
        background-color: hsla(0, 0%, 0%, .4);
        box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .07);
        .selectableItem-1MP3MQ.selected-31soGA[style*="background: rgb(114, 137, 218)"] {
            background-color: $main-color !important;
        }
    }
    .popoutListInput-1l9TUI {
        background-color: hsla(0, 0%, 100%, .05);
    }
}

// Bans
.searchBar-281-wK {
    background-color: hsla(0, 0%, 0%, .4);
}

// View server as x role selection bar
.notice-1tZwqv {
	background-color: var(--main-color);
}
.container-3LUQwT {
	background-color: var(--backdrop-overlay);
}
.role-3ulsK-:hover {
	background-color: rgba(255,255,255,0.1);
}
.iconContainer-1zobSR {
	&.checked-1Fij_T {
		background-color: var(--main-color);
		border-color: var(--main-color);
	}
}
.container-cMG81i {
	background-color: hsla(0, 0%, 100%, .1);
}